/*background color*/
.royal-blue{background:#306dab;}
.sky-blue{background:#6db8ec;}
.turquoise{background:#02bfb0;}
.dodger-blue{background:#858dd1;}
.meduim-blue{background:#01aed6;}
.dark-orange{background:#f39d5b;}
.navy-blue{background:#00407b;}
.violet{background:#a480d8;}
.light-blue{background:#bcdcf8;}
.iris-blue{background:#ade5f2;}
.white-gray{background:#f3f3f3;}
.light-gray{background: #f5f5f5;}
.off-white{background: #f8f8f8;}
.bg-light-dark-gray{background-color: #ece8e2;}
.light-yellow{background-color: #e8ba2c;}

/*text-color*/
.color-royal-blue{color:#306dab;}
.color-sky-blue{color:#6db8ec;}
.color-turquoise{color:#02bfb0;}
.color-dodger-blue{color:#858dd1;}
.color-meduim-blue{color:#306dab;}
.color-dark-orange{color:#f39d5b;}
.color-navy-blue{color:#00407b;}
.color-dark-gray{color:#3f3f3f !important;}
.color-dark-blue{color:#01aed6;}
.color-black{color:#000;}

/*border-color*/
.border-royal-blue{border-color:#306dab !important;}
.border-sky-blue{border-color:#6db8ec !important;}
.border-turquoise{border-color:#02bfb0 !important;}
.border-dodger-blue{border-color:#858dd1 !important;}
.border-meduim-blue{border-color:#306dab !important;}
.border-dark-orange{border-color:#f39d5b !important;}
.border-navy-blue{border-color:#00407b !important;}
.border-light-gray{border-color:#f3f3f3 !important; }
.border-white{border-color:#fff !important; }
 
/*tab arrow*/
li.dark-orange a.active:after{color:#f39d5b;}
li.royal-blue a.active:after{color:#f39d5b;}
li.sky-blue a.active:after{color:#f39d5b;}
li.turquoise a.active:after{color:#f39d5b;}
li.dodger-blue a.active:after{color:#f39d5b;}
li.meduim-blue a.active:after{color:#f39d5b;}
li.navy-blue a.active:after{color:#f39d5b;}
li.violet a.active:after{color:#f39d5b;}
li.light-blue a.active:after{color:#f39d5b;}
