/*----------------------------------------------------------------------------------------------------------------------
Project:	    Biocon

Default Color   #00407b;

font:		'calibri', sans-serif; 18px;
v-latest

----------------------------------------------------------------------------------------------------------------------*/
.border-radius-0{border-radius:0}
.fnt-light{font-family: calibri-light;}
.border-solid-all{border-style:solid;}
.breadcrumb{background: #fff; border-radius:0;}
.inner-banner{min-height:350px;     background-size: cover !important;; background-repeat:no-repeat !important; position:relative; background-position:center center;}
.inner-content{ min-height:350px; }
.bottom-5{bottom:20px;}
.breadcrumb{padding:0px;  }
.breadcrumb .breadcrumb-item a:after{content: "\f105"; font: normal normal normal 14px/1 FontAwesome;padding-left:5px; color:#646464;}
.breadcrumb .breadcrumb-item a{color:#3f3f3f;}
.breadcrumb-item+.breadcrumb-item::before{content: ""; padding-left:0;}
.breadcrumb-item.active{background:#00407c; color:#fff;padding-left:20px;}
.breadcrumb-item{padding:5px 10px;}
.breadcrumb .breadcrumb-item.frist-one:after, .breadcrumb .breadcrumb-item.frist-one:before{left: 100%;	top: 50%;	border: solid transparent;	content: " ";	height: 0;	width: 0;	position: absolute;	pointer-events: none;}
.breadcrumb .breadcrumb-item.frist-one:after {	border-color: rgba(136, 183, 213, 0);	border-left-color: #fff;	border-width: 16px;margin-top:-16px;}
.breadcrumb .breadcrumb-item.frist-one:before {	border-color: rgba(0, 64, 124, 0);	border-left-color: #fff;	border-width: 16px;	margin-top: -16px;}
.breadcrumb .breadcrumb-item.frist-one{position: relative;	background: #fff;	border: none;}

.text-bold{font-weight:bold;font-family: calibri-bold;}
ul.custom-list{padding-left: 0; margin-bottom: 0; width:100%;}
ul.custom-list li{list-style: none; padding: 0 20px;}
ul.custom-list li a{    position: relative; font-size: 18px; color: #fff; border-bottom: solid 2px rgba(255,255,255,0.3); padding: 10px 0; display: block;}
ul.custom-list li:last-child a{border:none; padding-bottom:  0;}
ul.custom-list li a:after{position: absolute; right:0; content:"";width: 24px; height: 24px; background: url(../images/icons/next-arrow.png); background-size: cover;}
.heading-with-content .boxHead{width:100%; padding-bottom:10px;}
.heading-with-content .boxHead h3{height:auto;}
.without-color .boxHead h3{height:auto;}
ul.flags{padding:0; margin:0;}
ul.flags li{list-style:none; margin-bottom:10px;}
ul.flags li:last-child{margin-bottom:0;}
ul.flags li img{margin-right:10px;}
.table.custom-table td, .table.custom-table thead tr th, .table.custom-table tbody tr th{    border: 3px solid #306dab;}
.table.custom-table tbody tr:first-child th, .table.custom-table thead tr th{ border-bottom: 2px solid #fff;}
.bg-cover{background-size:cover !important; background-position:center center !important;}
button.close{text-align:center !important;    border-radius: 50%; width:30px ;height:30px; padding:0 !important;    line-height: 18px; border:solid 1px #3f3f3f; ; font-size:24px; display: flex;    flex-direction: column;     vertical-align: middle;    justify-content: center;    align-items: center;}
.popup a{    position: relative; font-size: 18px;  display:block} 
.popup a:after{position: absolute; right:0; content:"";width: 24px; height: 24px; background: url(../images/icons/next-arrow-blue.png); background-size: cover;}
.right-top-0{right:10px; top:10px}
 .min-hgt-300{min-height:auto !important;}
.min-hgt-200{min-height:auto !important;}
.box ul li{font-size:18px;}
.box ul li ul li{font-size:16px;}
.bdr-right-chart{border-right:solid 1px #dee6ee}
.min-heght{min-height:75px;}
ul.plain-list li{list-style:none; margin-bottom:10px; font-size:18px;}
ul.plain-list li:last-child{margin-bottom:0;}
ul.plain-list{margin-bottom:0;}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,64,123,.2);
}
ul.pdf-list{margin:0;}
ul.pdf-list li{list-style:none; margin-bottom:12px;}
ul.pdf-list li a{ position: relative;    padding-left: 35px;padding-top:10px;padding-bottom:10px;    display: block;    padding-right: 5px;color:#3f3f3f; font-size:18px;}
ul.pdf-list li a::before{position: absolute;    content: '';    background: url(../images/icons/pdf-icon.png) center center no-repeat; width: 30px;    height: 30px;    left: 0px;    top: 7px;    background-size: 78%;}
ul.pdf-list li img{margin-right:10px;}
ul.pdf-list li:last-child{margin:0;}
ul.white-pdf{padding:0; margin:0;}
ul.white-pdf li{display:inline-block; list-style:none; margin-bottom:20px;}
ul.white-pdf li a{position: relative;    padding-left: 35px;padding-top:10px;padding-bottom:10px;    display: block;    padding-right: 5px;color:#fff; font-size:18px;}
ul.white-pdf li a::before{position: absolute;    content: '';    background: url(../images/icons/white-pdf-icon.png) center center no-repeat; width: 30px;    height: 30px;    left: 0px;    top: 7px;    background-size: 78%;}
.custom-select1{
   -webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none;       /* remove default arrow */
   background-image: url(../images/down-arrow.png);   /* add custom arrow */
   background-repeat:no-repeat;     background-position: 98%;;
   width:200px;
   background-size:16px; border-width:1px;padding: 5px;
}
ul.activites-link{padding:0; margin:0;}
ul.activites-link li{list-style:none;}
ul.activites-link li a{float:left; padding:10px; text-align:center;color:#00407b;}
ul.activites-link li a img{display:block; width:30px; margin:0 auto;  }
.v-m-height-200{    display: flex;    flex-direction: column;    justify-content: center;    resize: none;    overflow: auto;
    min-height: 200px;}
.table-archive th{font-weight:normal;}
.table-archive td{ 	vertical-align:middle; }
.table-bordered.table-archive{border:none !important;}
.table-archive tr a{color:#3f3f3f;}
.table-archive tr{    border-bottom: solid 10px #fff !important;}
.table-archive td.light-blue{border:none !important; border-right: 5px solid #fff!important; }
.font-50{font-size:50px;}
/*hr police template style--tab---style--*/
.tabs ul {
  margin: 0; 
  padding: 0 0 20px 0;
  text-align: center;
}
.tabs ul li a:hover{color: #fff;} 
 
.tabs ul li a.active:after{content: "\f0d7";width: 0;   height: 0;   position: absolute;z-index: 999;      font: normal normal normal 44px/1 FontAwesome;      top: 125px;left: 41%; font-size: 50px;    line-height: 32px;}
.tabs ul li.meduim-blue a.active:after{   color: #01aed6;    }
.tabs ul li.turquoise a.active:after{ color: #02bfb0;   }
  .tabs ul li.dodger-blue a.active:after{ color: #858dd1;  } 
  .tabs ul li.royal-blue a.active:after{color: #306dab;  }
.tabbed-content .item {
  margin-bottom: 2px;
}
.tabbed-content .item::before {
  cursor: pointer;
      margin-bottom: 10px;
  background: #eee;
  padding: 10px;
  display: block;
 
}
.tabbed-content #audit.item::before, .tabbed-content #audit.item.active::before {
  background: #02bfb0;color:#fff;
}
 
.tabbed-content #nomination.item::before, .tabbed-content #nomination.item.active::before {
  background: #306dab;color:#fff;
} 
.tabbed-content #corporate.item::before, .tabbed-content #corporate.item.active::before {
  background: #858dd1;color:#fff;
} 
.tabbed-content #stakeholder.item::before, .tabbed-content #stakeholder.item.active::before {
  background: #01aed6;color:#fff;
}
.tabbed-content #quarterly.item::before, .tabbed-content #quarterly.item.active::before {
  background: #02bfb0;color:#fff;
}
 
.tabbed-content #agm.item::before, .tabbed-content #agm.item.active::before {
  background: #306dab;color:#fff;
}  
.tabbed-content .item.active .item-content {
  padding: 1em;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}  .arrow-down-mobile{display:none;}
.tabbed-content .item.active .arrow-down-mobile{position: absolute;    top: 38px;    font-size: 40px;    left: 45%;    line-height: 23px; }
ul.aftericon li a {
    position: relative;
    font-size: 20px;
    color: #fff;
    padding: 10px 0;
    display: block; 
	padding-left:20px;
	line-height:20px;
	font-weight:normal;
	
}
ul.aftericon{padding:0;}
ul.aftericon li{list-style:none;}
ul.aftericon li a:after {
    position: absolute;
    right: 10px;
    content: "";
    width: 24px;
    height: 24px;
    background: url(../images/icons/next-arrow.png);
    background-size: cover;
}
.corporate_governance .heading-with-content .boxHead h3 {
     height: 50px;
}
.corporate_governance .heading-with-content .boxHead{padding:0;}
.corporate_governance .min-hgt-300.hght{    min-height: 300px !important;}
.financials .inner-links .box p{min-height:80px;}
.financials .inner-links .box{min-height:auto;}
.alert-type {    top: 62px;    background: #134671;}
.inverstor-green-box h2{font-size: 65px;    line-height: 30px;}

/* 
The project specific CSS starts here
This is the minimum CSS that you will need in order for this to work
*/
.tabbed-content .tabs {  display: none;}
.tabbed-content .item {  min-height: 2em; position:relative;}
.tabbed-content .item::before {  content: attr(data-title);}
.tabbed-content .item .item-content {  opacity: 0;  visibility: hidden;  height: 0;}
.tabbed-content .item.active .item-content {  opacity: 1;  visibility: visible;  height: auto;}
.bg-none{background:none; border:none;}
.line-heght-36{line-height: 36px !important;}
.min-height-200{min-height:192px;display: flex;    flex-direction: column;    justify-content: center;    resize: none;    overflow: auto;}
.email-alert .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.email-alert .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.email-alert .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.email-alert .form-control:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
.custom-checkbox { display: block;  position: relative;  padding-left: 20px;  margin-bottom: 5px;  cursor: pointer;   -webkit-user-select: none;  -moz-user-select: none;  -ms-user-select: none;  user-select: none;    line-height: 11px;}
.custom-checkbox input{ position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;}
.checkmark {  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border:solid 1px #fff;}
  
/* On mouse-over, add a grey background color */
.custom-checkbox :hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox  input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox  input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox  .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.investor-main .boxHead h3{height:auto;font-size: 25px; padding-bottom:7px;}
.investor-main .boxHead{width:100%; margin-bottom:10px;}
.investor-main .min-hgt-300{min-height:250px !important; padding-bottom:10px;}
.investor .min-height-200{min-height:218px;display: flex;    flex-direction: column;    justify-content: center;    resize: none;    overflow: auto;}
.dark-orange .custom-checkbox  input:checked ~ .checkmark {
  background-color: #f39d5b;
}
.dark-orange  .form-control {
    display: block;
    width: 100%;
    height: calc(1em + .5rem + 1px);
    padding: 8px 5px;
}
.fnt-11px{font-size:11px;}
.write-details .checkmark{border-radius: 50%; border-width:2px;}
.write-details .custom-checkbox input:checked ~ .checkmark{    background: none;}
.write-details .custom-checkbox .checkmark:after{     left:4px; top: 4px;    width: 1px;    height: 1px;    border: solid white;
    border-width: 0px 3px 3px 0;}
.table-quarterly tr {
    border-bottom: solid 10px #fff !important;
}
/*.table-quarterly tr td{border-right: solid 10px #fff !important;}*/
#agm ul.pdf-list li a{color: #fff;}
#agm ul.pdf-list li a::before{    background: url(../images/icons/pdf-white.png) center center no-repeat;    background-size: 78%;}
#agm ul.pdf-list{padding-left: 0;}
.nav-fill .nav-item{    flex: 0 !important;}
.nav.nav-tabs.nav-fill .nav-link {
    display: inline-block;
    padding: .5rem 1rem;
}
.nav-tabs{border:0;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{border:solid 1px #306dab; color: #fff !important;  background: #094c6c;}
.nav.nav-tabs.nav-fill .nav-link{padding: 5px 15px !important; line-height: 21px; border:solid 1px #d7d7d7; color: #094c6c; margin-right: 10px; border-radius: 0;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs a.nav-link.active::before{position: absolute;content: '\f0d7';    color: #094c6c;width: 20px;height: 20px; top: 20px; font: normal normal normal 14px/1 FontAwesome;font-size: 30px;}
.faq-tab .tabbed-content .tabs li{min-width: 245px;    width: 245px;    padding: 0px;    padding-bottom: 5px;}
.faq-tab .tabbed-content .tabs li a{    background: #f5f5f5;     color: #000; min-height: 59px;}
.faq-tab .tabs ul li a.active:after{top: 52px;    left: 45%;}


.panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #fff;
        background-color: #FAFAFA;
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 18px;
    }
 .panel-title a:hover{color: #fff;}
    .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
    }

    .more-less {
        float: right; 
    }

     





@media all and (min-width: 800px) {
  .tabbed-content .item.active .item-content {
    padding-top: 0;
  }

  .tabs-side .tabs li {
    margin-bottom: 2px;
  }

}
@media (min-width:992px) and (max-width:1200px){ 
	ul.aftericon li a {font-size:16px ;}
	ul.aftericon li a:after {    right: 0px;}
	.corporate_governance .heading-with-content .boxHead h3 {font-size:20px;}
	.corporate_governance .min-hgt-300.hght{    min-height: 330px !important;}
}
@media all and (min-width: 800px) {
  .tabbed-content .tabs {
    display: block;
  }
  .tabbed-content .tabs li {
     display: inline-block;
    margin-right: 15px;
    padding: .5em 1em;
    width: 200px;
    vertical-align: middle;
    position: relative;
  }
  .quarterly .tabbed-content .tabs li {
     display: inline-block;
    margin-right: 15px;
    padding: .5em 1em;
    width: 300px;
    vertical-align: middle;
    position: relative;
  }
  .tabbed-content .tabs li a {
    display: flex;    font-size: 20px;    line-height: 25px;  height: 100%;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
    resize: none;
    overflow: auto;
     min-height: 120px;
  }
  .tabbed-content .item {
    min-height: 0;
  }
  .tabbed-content .item::before {
    display: none;
  }
  .tabbed-content.tabs-side .tabs {
    width: 150px;
    float: left;
  }
  .tabbed-content.tabs-side .tabs li {
    display: block;
  }
  .tabbed-content.tabs-side .item {
    margin-left: 150px;
  }
}

/*hr police template style--tab---style*/

@media (min-width:992px) and (max-width:1200px){
	.img-with-text p{line-height:22px; font-size:14px;}
}
@media (min-width:768px) and (max-width:992px){
	.img-with-text p{line-height:16px; font-size:13px;}
	.img-with-text a{font-size:13px;}
}
.modal {
  text-align: center;
}

@media(min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
  .min-hgt-300{min-height:350px !important;}
.min-hgt-200{min-height:184px !important;}
.table-archive tr{   background:url(../images/boder-table.png) no-repeat; background-position: 86px 5px;}
.table-archive td:last-child{border-right:solid 1px rgba(0,64,123,0.4);}
.border-right-md{border-right:solid 1px #fff;}
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
a.collapse-expand-link .mycollapsefabtn::before{
    content:'\f147';
}
a.collapse-expand-link.collapsed .mycollapsefabtn::before{
    content:'\f196';
}


@media (max-width: 767px){
	.min-hgt-300.bg-cover{min-height:250px !important; background-position:top left !important}
	.banner_content{    max-width: 300px !important;}
	.border-right-md{border-bottom:solid 1px #fff;}
.tabbed-content .item.active .arrow-down-mobile{display: block;}
.custom-div-mb{overflow-x: scroll;}

}
@media (min-width: 576px) {
.modal-dialog {
    max-width: 80% !important;
}

}
@media (max-width: 576px) {
    iframe{width: 100% !important;}
  }
@media (min-width: 576px) and (max-width:767px){
.min-hgt-300{min-height:250px !important;}
}

