/* -------------------------------- 

Primary style

-------------------------------- */

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

body.overflow-hidden {
    /* when primary navigation is visible, the content in the background won't scroll */
    overflow: hidden;
}

a:focus {
    outline: none !important;
}

a {
    text-decoration: none !important;
}


/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */


/**/

[class*=' imghvr-'],
[class^=imghvr-] {
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 0;
    max-width: 100%;
    background-color: rgba(230, 230, 230, .7);
    color: #666;
    overflow: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    margin: 12px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
}

[class*=' imghvr-'] img,
[class^=imghvr-] img {
    vertical-align: top;
    max-width: 100%;
    width: 100%;
}

[class*=' imghvr-'] figcaption,
[class^=imghvr-] figcaption {
    background-color: rgba(255, 255, 255, .9);
    padding: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
}

figcaption h3,
figcaption p {
    color: #fff;
}

.toggle_Container {
    color: #fff;
}

.toggle_Container h3 {
    position: static !important;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 50px;
    font-family: verdana-300 !important;
    margin-left: 10px;
}

.toggle_Container h2 {
    font-size: 32px;
    /* font-weight: 600; */
    font-family: verdana-600;
    margin-left: 20px;
}

.view_more {
    position: absolute;
    right: 20px;
    bottom: 20px;
    border: 2px solid #fff;
    padding: 10px 15px;
    z-index: 99999;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    margin: 0px;
}

.imghvr-flip-vert.one:hover figcaption {
    background-image: url('../images/biosimilars-in-market-hover.jpg');
    background-size: cover;
}


}
[class*=' imghvr-'] h3,
[class*=' imghvr-'] p,
[class^=imghvr-] h3,
[class^=imghvr-] p {
    margin: 0;
    padding: 0
}
[class*=' imghvr-'] h3,
[class^=imghvr-] h3 {
    color: #fff;
    font-family: verdana-300;
}
figcaption h4 {
    font-size: 24px;
    color: #fff;
    font-family: verdana-300;
    padding-bottom: 10px;
}
[class*=' imghvr-'] p,
[class^=imghvr-] p {
    font-family: Lora, sans-serif;
    font-size: .9em
}

/*[class*=' imghvr-'] a,

[class^=imghvr-] a {

    position: absolute;

    top: 0;

    bottom: 0;

    left: 0;

    right: 0;

    z-index: 1

}*/
[class*=' imghvr-'],
[class*=' imghvr-'] *,
[class*=' imghvr-']:after,
[class*=' imghvr-']:before,
[class*=' imghvr-']:after,
[class*=' imghvr-']:before,
[class^=imghvr-],
[class^=imghvr-] *,
[class^=imghvr-]:after,
[class^=imghvr-]:before,
[class^=imghvr-]:after,
[class^=imghvr-]:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .35s ease;
    transition: all .35s ease
}
[class*=' imghvr-flip-'],
[class^=imghvr-flip-] {
    -webkit-perspective: 50em;
    perspective: 50em
}
[class*=' imghvr-flip-'] img,
[class^=imghvr-flip-] img {
    backface-visibility: hidden
}
[class*=' imghvr-flip-'] figcaption,
[class^=imghvr-flip-] figcaption {
    opacity: 0
}
[class*=' imghvr-flip-']:hover figcaption,
[class^=imghvr-flip-]:hover figcaption {
    opacity: 1;
    -webkit-transition-delay: .15s;
    transition-delay: .15s
}
.imghvr-flip-vert figcaption {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0
}
.imghvr-flip-vert:hover figcaption {
    -webkit-transform: rotateY(0);
    transform: rotateY(0)
}

/***************************************************************************/
.cd-container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
}
.cd-container:after {
    content: "";
    display: table;
    clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
.cd-header {
    position: absolute;
    top: 0;
    left: 0;
    /*height: 50px;*/
    
    width: 100%;
    z-index: 9999;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media only screen and (min-width: 768px) {
    .cd-header {
        position: fixed;
        height: auto;
        background: #fff;
        box-shadow: none;
        z-index: 999999999;
        border-bottom: 2px solid #00407b;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-header {
        -webkit-transition: background-color 0.3s;
        -moz-transition: background-color 0.3s;
        transition: background-color 0.3s;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    
    .cd-header.is-fixed {
        /* when the user scrolls down, we hide the header right above the viewport */
        position: fixed;
        top: -70px;
        background-color: #fff;
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09);
    }
    
    .cd-header.is-visible {
        /* if the user changes the scrolling direction, we show the header */
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}
.cd-logo {
    display: block;
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: .875em;
    /* box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5), 0 0 20px rgba(255, 0, 0, 0.55);*/
}
.cd-logo img {
    display: block;
    height: 70px;
    position: relative;
    top: 10px;
}
@media only screen and (min-width: 768px) {
    .cd-logo {
        left: 10px;
    }
}
.cd-secondary-nav {
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 125px;
    transition: 0.3s;
    padding: 0;
    top: 65px;
    height: 25px;
    left: 177px;
}
.menu-is-open .cd-secondary-nav {
    /*right: 0px; */
}
.cd-secondary-nav li {
    display: inline-block;
    float: right;
    border-right: 1px solid #093259;

    padding-left: 15px;
    padding-right: 15px;
    line-height: 12px;
}
.cd-secondary-nav li:last-child {
    border-right: 0px !important;
    padding-right: 0px;
}
.cd-top-nav {
    float: right;
    margin-top: 4px;
}
.cd-top-nav li {
    display: inline-block;
    float: none;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 12px;
    padding-bottom: 10px;
    padding-top: 5px;
}
.cd-top-nav li a {
    color: #727272;
}
@media only screen and (min-width: 768px) {
    .cd-secondary-nav {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
	.cd-primary-nav.is-visible{
		top: 70px !important;
	}
	.cd-primary-nav{
		top: 70px !important;
	}
}


.cd-primary-nav-trigger {
    position: absolute;
    right: 0px;
    top: 9px;
    width: 50px;
}
.cd-primary-nav-trigger .cd-menu-text {
    color: white;
    /* hide the text on small devices */
    
    display: none;
}
.cd-primary-nav-trigger .cd-menu-icon {
    /* this span is the central line of the menu icon */
    
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 20px;
    height: 3px;
    border-radius: 0px;
    background-color: #76aad9;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* these are the upper and lower lines in the menu icon */
}
.cd-primary-nav-trigger .cd-menu-icon::before,
.cd-primary-nav-trigger .cd-menu-icon:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #76aad9;
    right: 0;
    -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
    -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
    transition: transform .3s, top .3s, background-color 0s;
}
.cd-primary-nav-trigger .cd-menu-icon::before {
    top: -7px;
}
.cd-primary-nav-trigger .cd-menu-icon::after {
    top: 7px;
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked {
    background-color: rgba(255, 255, 255, 0);
    height: 2px;
    width: 18px;
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
    top: 0;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}
@media only screen and (min-width: 768px) {
    .cd-primary-nav-trigger p {
        margin-top: -12px;
        color: #808285;
        font-size: 20px;
        font-weight: 100;
        font-family: Calibri light;
        /*float: right;*/
    }
    
    .cd-primary-nav-trigger {
        width: 45px;
        border-radius: 0;
        text-decoration: none !important;
        transition: 0.1s;
        border: 0;
        border-radius: 50%;
    }
    
    .cd-primary-nav-trigger .cd-menu-text {
        display: inline-block;
    }
    
    .cd-primary-nav-trigger .cd-menu-icon {
        left: auto;
        right: 5px;
        -webkit-transform: translateX(0) translateY(-50%);
        -moz-transform: translateX(0) translateY(-50%);
        -ms-transform: translateX(0) translateY(-50%);
        -o-transform: translateX(0) translateY(-50%);
        transform: translateX(0) translateY(-50%);
    }
}
@media only screen and (min-width: 992px) {
	.cd-secondary-nav {
        display: block;
    }
	.cd-header {
        position: fixed;
        height: 90px;
        background: #fff;
        box-shadow: none;
        z-index: 999999999;
        border-bottom: 2px solid #00407b;
    }
	.cd-primary-nav-trigger p {
        margin-top: 35px;
        color: #808285;
        font-size: 20px;
        font-weight: 100;
        font-family: Calibri light;
        /*float: right;*/
    }
	.cd-secondary-nav li:first-child {
		padding-left: 0px;
	}
}
.cd-primary-nav {
    /* by default it's hidden - on top of the viewport */
    
    display: none;
    position: absolute;
    left: 0;
    top: 90px;
    width: 100%;
    background: rgba(255, 255, 255, 0.90);
    z-index: 99;
    text-align: center;
    padding: 50px 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: auto;
    /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
    /*  -webkit-overflow-scrolling: touch;

  -webkit-transform: translateY(-100%);

  -moz-transform: translateY(-100%);

  -ms-transform: translateY(-100%);

  -o-transform: translateY(-100%);

  transform: translateY(-100%);*/
    
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
    z-index: 99999;
}
.cd-primary-nav ul {
    padding: 0px;
}
.cd-primary-nav li {
    list-style: none;
}
.no-touch .cd-primary-nav a:hover {
    color: #50abf1;
}
.cd-primary-nav .cd-label {
    color: #06446e;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    font-size: 0.875rem;
    margin: 2.4em 0 .8em;
}
.cd-primary-nav .cd-social {
    display: inline-block;
    margin: 0 .4em;
}
.cd-primary-nav .cd-social a {
    width: 44px;
    height: 44px;
    padding: 0;
    /* image replacement */
    
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
.cd-primary-nav .cd-facebook a {
    background-position: 0 0;
}
.cd-primary-nav .cd-instagram a {
    background-position: -44px 0;
}
.cd-primary-nav .cd-dribbble a {
    background-position: -88px 0;
}
.cd-primary-nav .cd-twitter a {
    background-position: -132px 0;
}
.cd-primary-nav.is-visible {
    display: block;
    top: 90px;
    border-bottom: 2px solid #01add5;
}
@media only screen and (min-width: 768px) {
    .cd-primary-nav {
        padding: 15px 0;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-primary-nav li {
        font-size: 30px;
        font-size: 1.875rem;
        text-align: left;
    }
    
    .cd-primary-nav .cd-label {
        font-size: 16px;
        font-size: 1rem;
    }
}
.cd-main-content {
    position: relative;
    z-index: 1;
}
.cd-main-content p {
    line-height: 1.6;
    margin: 2em 0;
}
@media only screen and (min-width: 1170px) {
    .cd-main-content p {
        font-size: 20px;
        font-size: 1.25rem;
    }
}
.searchBtn {
    float: right;
    position: relative;
    top: 45px;
    margin: 0;
    padding: 0;
    right: 65px;
    list-style: none;
    z-index:  9999;
}
.serach-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    z-index: 99999;
    cursor: crosshair;
    display: none
}
.serach-overlay.open {
    display: block
}
.searchContainer {
    position: absolute;
    right: 60px;
    left: 200px;
    top:  45px;
    bottom: -3px;
    border-right: 2px solid #e2e2e2
}
.slideContnr ul {
    padding: 0;
    list-style: none
}
.slideContnr ul li a.active,
.slideContnr ul li a:hover {
    color: #6bb4e7;
    background: #395388
}
.slideContnr ul li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    padding-left: 30px;
    float: left;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px
}
.cd-header.menu-is-open,
.cd-header.menu-is-open.is-fixed {
    top: 0px!important;
    transform: none!important;
    -webkit-transition: none!important;
    -moz-transition: none!important
}
.primeryNav {
    margin-right: 0px;
    position: relative;
    list-style: none;
    margin: 0;
    z-index: 999
}
.primeryNav ul {
    padding: 0
}
.cd-secondary-nav li.primeryNav li {
    float: left!important;
}
.cd-secondary-nav .primeryNav a {
    font-size: 16px;
    font-family: "Calibri light"!important;
    color: #093259;
}
.toggle_Container {
    position: relative!important;
    padding: 0 30px;
    top: 80px
}
.searchbox {
    position: absolute;
    float: right;
    overflow: hidden;
    right: 0;
    height: 70px;
    top: -24px;
    -webkit-transition: width 0.5s, left 0.5s, bottom 0.5s;
    -moz-transition: width 0.5s, left 0.5s, bottom 0.5s;
    -o-transition: width 0.5s, left 0.5s, bottom 0.5s;
    -ms-transition: width 0.5s, left 0.5s, bottom 0.5s;
    transition: width 0.5s, left 0.5s, bottom 0.5s;
    width: 0
}
.searchbox-input {
    top: 15px;
    right: 0;
    outline: 0;
    background: #fff;
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 0;
    color: #00407c;
    position: absolute;
    border: 0;
    border-radius: 0;
    z-index: 99999;
    font-size: 22px;
    padding-left: 0
}
.searchbox-input::-webkit-input-placeholder {
    color: #a5c5e2
}
.searchbox-input:-moz-placeholder {
    color: #a5c5e2
}
.searchbox-input::-moz-placeholder {
    color: #a5c5e2
}
.searchbox-input:-ms-input-placeholder {
    color: #a5c5e2
}
.searchbox-open {
    width: 100%
}
.searchbox-submit {
    position: relative;
    top: 23px;
    right: 12px;
    z-index: 99999;
    float: right;
    background: transparent;
    border: 0;
    outline: none!important
}
@-moz-document url-prefix() {
    .searchbox-submit {
        top: 12px;
        right: 12px
    }
}
.header_container {
    position: relative;
    height: 70px
}
.menu-button {
    position: relative;
    z-index: 9999
}
.cd-secondary-nav a {
    display: inline-block;
    color: black;
    font-weight: 400;
    font-size: 18px
}
.cd-primary-nav ul li:first-child a {
    font-size: 20px;
    font-family: Calibri;
    text-align: left;
    color: #333;
    font-weight: 700
}
.cd-primary-nav a {
    display: inline-block;
    padding: 3px 0;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
    font-size: 16px;
    margin-top: 0;
    text-align: left!important;
    float: left;
    width: 100%;
    color: #333
}
.cd-primary-nav a.view_all {
    font-family: Calibri;
    margin-top: 15px
}
.cd-primary-nav a.view_all .fa {
    font-size: 22px;
    margin-left: 8px
}
.menu_close:hover {
    border-color: #fff!important
}
@media only screen and (max-width:1200px) {
    .cd-primary-nav a {
        font-size: 14px;
        margin-top: 0px!important;
        border-radius: 50%
    }
    
    .cd-primary-nav h4 {
        font-size: 18px;
        margin-bottom: 10px
    }
    
    .cd-primary-nav a.view_all {
        margin-top: 5px
    }
}
@media only screen and (max-width:991px) {
    .cd-primary-nav a.view_all {
        margin-bottom: 20px
    }
	.cd-logo img {
		height: 50px;
		top: 2px;
	}
	.searchContainer {
        top: 18px;
        bottom: 15px;
    }
	.searchBtn {
		top: 23px;
	}
	.cd-secondary-nav {
		right: 57px!important;
		left: 0;
		display: none;
	}
	section.main_banner {
		margin-top: 70px;
	}
	.cd-primary-nav-trigger {
		right: 0px!important;
		top: 36px;
	}
}
@media only screen and (max-width:767px) {
    .cd-primary-nav {
        padding: 10px 0px!important;
        max-height: 300px;
        overflow-y: scroll
    }
    
    .cd-secondary-nav li {
        margin-right: 10px!important
    }
    
    .cd-secondary-nav {
        right: 57px!important;
        left: 0;
        display: none
    }
    
    .cd-primary-nav-trigger {
        right: 0px!important;
        top: 36px
    }
    .searchContainer {
        top: 18px;
        bottom: 15px;
    }
    .cd-logo img {
        height: 50px;
        top: 2px;
    }
    .searchBtn {
        top: 23px;
    }
    .serach-overlay.open {
        display: none !important;
    }
    .searchbox-input {
        top: 20px;
    }
    .searchbox-submit {
        top: 28px;
    }
    .cd-primary-nav.is-visible {
        top: 70px;
    }
    section.main_banner {
        margin-top: 70px;
    }
    .primeryNav {
        display: none!important
    }
    
    .icon-bar {
        float: left;
        width: 100%
    }
    
    .icon-bar a {
        width: 33.33%;
        border-bottom: 0px!important;
        display: inline-block!important;
        border-right: 1px solid #fff;
        float: left
    }
	.cd-primary-nav {
		opacity: 1;
		top: 70px;
	}
}