@font-face {
    font-family: calibri;
    src: url(../font/calibri-font/Calibri Regular.ttf);
}
@font-face {
    font-family: calibri-bold;
    src: url(../font/calibri-font/Calibri Bold.ttf);
}
@font-face {
    font-family: calibri-bold-italic;
    src: url(../font/calibri-font/Calibri Bold Italic.ttf);
}
@font-face {
    font-family: calibri-italic;
    src: url(../font/calibri-font/Calibri Italic.ttf);
}
@font-face {
    font-family: calibri-light;
    src: url(../font/calibri-font/Calibri Light.ttf);
}
@font-face {
    font-family: calibri-light-italic;
    src: url(../font/calibri-font/Calibri Light Italic.ttf);
}
@import url(//db.onlinewebfonts.com/c/a78cfad3beb089a6ce86d4e280fa270b?family=Calibri);
@import url(//db.onlinewebfonts.com/c/8922aedb2c18008da7daf4f93fd60bdc?family=Calibri);
@import url(//db.onlinewebfonts.com/c/527c5ab608cab860a6aae8ce02e14b0e?family=Calibri);
@import url(//db.onlinewebfonts.com/c/c8980f67879f6f08737d47c2ecb1cc43?family=Calibri);

@font-face {font-family: "calibri";
    src: url("//db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.eot");
    src: url("//db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.svg#Calibri") format("svg");
}
@font-face {font-family: "calibri-light";
    src: url("//db.onlinewebfonts.com/t/8922aedb2c18008da7daf4f93fd60bdc.eot");
    src: url("//db.onlinewebfonts.com/t/8922aedb2c18008da7daf4f93fd60bdc.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/8922aedb2c18008da7daf4f93fd60bdc.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/8922aedb2c18008da7daf4f93fd60bdc.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/8922aedb2c18008da7daf4f93fd60bdc.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/8922aedb2c18008da7daf4f93fd60bdc.svg#Calibri") format("svg");
}
@font-face {font-family: "calibri-bold";
    src: url("//db.onlinewebfonts.com/t/527c5ab608cab860a6aae8ce02e14b0e.eot");
    src: url("//db.onlinewebfonts.com/t/527c5ab608cab860a6aae8ce02e14b0e.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/527c5ab608cab860a6aae8ce02e14b0e.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/527c5ab608cab860a6aae8ce02e14b0e.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/527c5ab608cab860a6aae8ce02e14b0e.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/527c5ab608cab860a6aae8ce02e14b0e.svg#Calibri") format("svg");
}
@font-face {font-family: "calibri-light-weight";
    src: url("//db.onlinewebfonts.com/t/c8980f67879f6f08737d47c2ecb1cc43.eot");
    src: url("//db.onlinewebfonts.com/t/c8980f67879f6f08737d47c2ecb1cc43.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/c8980f67879f6f08737d47c2ecb1cc43.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/c8980f67879f6f08737d47c2ecb1cc43.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/c8980f67879f6f08737d47c2ecb1cc43.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/c8980f67879f6f08737d47c2ecb1cc43.svg#Calibri") format("svg");
}

body, html {
	font-family: calibri;
}
.awards .tab-content h4{
	font-family: calibri-light;
}
.home .compassion h4{
	font-family: calibri-light;
}
a.read_more{
	font-family: calibri-bold;
}	
strong{
    font-family: calibri-bold;
}
.fnt-bold{
	font-family: calibri-bold;
}
.fnt-light{
	font-family: calibri-light;
}
.fnt-italic{
	font-style: italic;
}
.border-gray-left{
	border-left: 3px solid rgba(255, 255, 255, 0.3);
}
.border-gray-right{
	border-right: 3px solid rgba(255, 255, 255, 0.3);
}
.hr_policies img {
    height: 60px;
}
.hr_policies .boxHead h3.h-80{
	font-size: 24px;
}
.careers .hr_policies{
	padding-bottom: 0px !important;
}
.at_biocon h3.h-80{
	font-size: 24px;
}
.at_biocon img {
    height: 60px;
	width: auto;
}
.at_biocon .box {
    min-height: 250px;
}
.learning .box02 {
	background-size: cover !important;
	background-position: center !important;
}
.employee_friendly .society .box02 {
	background-size: cover !important;
	background-position: center !important;
}
.wellness .min-hght-200 {
    min-height: 90px;
}
.g2g .getter .box h2 {
	display: none;
}
.left_arrow img, .right_arrow img {
    height: 25px;
}
.roots p.color-dark-gray:after {
    content: '';
    position: absolute;
    right: 12px;
    bottom: 0px;
    height: 50px;
    width: 50px;
    background: url(../images/icons/right-arrow.png);
    background-size: 28px;
    background-repeat: no-repeat;
}
.roots p.color-dark-gray:before {
    content: '';
    position: absolute;
    left: 12px;
    top: -15px;
    height: 50px;
    width: 50px;
    background: url(../images/icons/left-arrow.png);
    background-size: 28px;
    background-repeat: no-repeat;
}
.transition h2.border_head::before{
	display: none;
}
.diversity .progress-bar{
	background-color: transparent !important;
}
#visualization_wrap {
    /**border:1px solid gray; **/
    position: relative;
    padding-bottom: 20%;
	margin-top: 3%;
	margin-bottom: 0%;
    height: 0;
    overflow:hidden;
}
#visualization {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
}
.contact-ul {
    list-style: none;
    padding-left: 0px;
    font-size: 18px;
}
.contact-ul a.email, .contact-ul a.phone {
    padding-left: 40px;
    position: relative;
    font-family: "calibri-light";
	text-decoration: underline !important;
}
.contact-ul a.phone::before {
    position: absolute;
    left: auto;
    background-image: url(../images/icons/contact-mail.png);
    background-size: cover;
    content: '';
    height: 25px;
    width: 25px;
	top:2px;
	right: auto;
	margin-left: -33px;
}
.contact-ul a.email::before {
    position: absolute;
    left: 0px;
    background-image: url(../images/icons/contact-twitter.png);
    background-size: cover;
    content: '';
    height: 25px;
    width: 25px;
	top:2px;
}
.sheet .box {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}
.visual_library .vicons{
	height: 50px;
}
.sheet img.right_icons{
	position: absolute;
	bottom: 20px;
}
.pagination_bottom .page-item.active .page-link{
	border-radius: 50%;
	height: 35px;
    width: 35px;
    line-height: 20px;
    text-align: center;
}
.media-log .contact-ul li a.phone{
	padding-left: 35px;
}
.media-log .contact-ul a.phone::before{
	background-image: url(../images/icons/msg-blue.png);
}
.media-log .contact-ul a.phone::after{
	display: none;
}
.media-log button.close {
    background-color: #000;
    color: #fff;
    opacity: 1;
    border: none;
    line-height: 21px;
    font-size: 20px;
}
.media-log img.msg-phone{
	height: 100px;
}
.media-log img.enduring-edge{
	height: 215px;
}

.media-log .modal-dialog{
	width: 80%;
}
.media-log .modal-content{
	background-color: #fafafa;
}
.photos_gallery .tabbed-content .tabs ul li img{
	width: 50px;
    max-width: 100%;
    margin: 0 auto;
}
.photos_gallery .tabbed-content .tabs li a{
	min-height: 40px;
	font-size: 18px;
    justify-content: flex-start;
}
.photos_gallery .tabs ul li a.active:after{
	top: 118px;
}
.photos_gallery .tabs ul li{
    padding: 0.7em 1em;	
}
.photos_gallery .tabs ul li.sky-blue a.active:after {
    color: #6db8ec;
}

.videos_gallery .tabbed-content .tabs ul li img{
	height: 50px;
}
.videos_gallery .tabbed-content .tabs li a{
	min-height: 107px;
}
.videos_gallery .tabs ul li a.active:after{
	top: 120px;
}
.videos_gallery .tabs ul li{
    padding: 0.7em 1em;	
}
.videos_gallery .tabs ul li.sky-blue a.active:after {
    color: #6db8ec;
}
.bio_live .box .boxHead +div img {
    margin: 0 auto;
    display: block;
}
.videos_gallery ul li img {
    height: 60px;
}
.videos_gallery .tabs ul li {
    padding: 1em 1em 0.5em;
}
.videos_gallery .tabs ul li a.active:after{
	left: 47%;
}
.cmd_gallery .tabs ul li a.active:after {
    top: 70px;
	font-size: 60px;
	left: 45%;
}
.cmd_gallery iframe{
	width: 100%;
}
.tv-interviews .min-hgt-100 {
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.biocon_logo .tabs ul li a.active:after{
	display: none !important;
}
.biocon_logo .tabbed-content .border {
    border: 2px solid #306dab  !important;
}
.logo_downloads ul li{
	list-style-type: none;
}
.logo_downloads ul li a{
	width: 120px;
	border: none !important;
	border-radius: 0px;
}
.biocon_logo .box{
	min-height: 300px;
	padding-bottom: 0px !important;
}
.boxing{
	color: #fff;
	display: none;
	margin-top: 30px;
  }
select#years {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 110px;
    position: absolute;
    padding-left: 10px;
    height: 35px;
    background: url(../images/down-arrow.png) center center no-repeat;
    background-size: 20px !important;
	background-position: 92%;
}
.media_stories select#years {
	color: #00407b;
    font-weight: bold;
}
.media_stories select.months{
	font-weight: bold;
}
.select_years{
	height: 30px;
}
select.months{
	-moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    position: absolute;
    padding-left: 10px;
    height: 35px;
    background: url(../images/down-arrow-white.png) center center no-repeat;
    background-size: 18px !important;
	background-position: 92%;
	background-color: #00407b;
	color: #fff;
	border: none;
}
.boxing a {
    text-decoration: underline !important;
}
.years_months div{
	flex-grow: 1;
    flex-basis: 0;
    max-width: 130px;
}
.events .tabs ul li a.active{
		border: 2px solid #02bfb0;
		background: #02bfb0;
		color: #fff;
}
.events .tabs ul li a{
	border: 2px solid #02bfb0;
	color: #00407b;
}
.events .tabs ul li a.active:after{
	top: 65px;
}
.events .tabs ul li a.active:after {
	color: #02bfb0;
}
.events .tabs ul{
	display: flex;
}
.events .tabs ul li{
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
}
.tabbed-contents .tabs ul li {
    list-style-type: none;
    width: 200px;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}
.tabbed-contents .tabs ul li img{
	display: block;
	margin: 0 auto;
}
.table-bg-color{
	background-color: #f5f6fb;
}
.presss_release select.months{
	background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.53);
    color: #00407b;
	background: url(../images/down-arrow.png) center center no-repeat;
	background-position: 92%;
    width: 175px;
}
.presss_release select#years{
	border: 1px solid rgba(0, 0, 0, 0.53);
}
.presss_release .select_months{
	max-width: 220px;
}
.presss_release .select_years{
	max-width: 115px;
}
.presss_release .table-striped tbody tr:nth-of-type(odd) {
    background-color: #fafbfd;
}
.presss_release ul li{
	list-style-type: none;
}
.subscribe_biocon input{
	border-radius: 0px;
	border: 0;
}
.subscribe_biocon input::placeholder {
  color: #343434;
  opacity: 0.5; /* Firefox */
}

.subscribe_biocon input:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #343434;
 opacity: 0.5; /* Firefox */
}

.subscribe_biocon input::-ms-input-placeholder { /* Microsoft Edge */
 color: #343434;
 opacity: 0.5; /* Firefox */
}
.subscribe_biocon .btn{
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.financial_result select#years{
	width: 215px;
}
.financial_result label {
    width: 120px;
    padding-left: 15px;
    padding-top: 6px;
}
.annual-ul li img{
	height: 25px;
}
ul.annual-ul li {
    list-style-type: none;
}
.light-gray-color{
	color: #808285;
}
#annual_reports #years {
    width: 185px;
}
.company_his_contnr {
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    max-width: 1400px;
    margin:auto;
    padding-bottom: 30px;
    position: relative;
    z-index: 99;
}
.thickborder {
    height: 4px;
    background: #e2e2e2;
    position: absolute;
    top: 62px;
    left: 90px;
    right: 90px;
}
#milestone p.year {
    text-align: center;
    font-size: 22px;
   font-family: calibri-light;
    color: #bec1be;
}
#milestone .owl-nav .owl-prev, #milestone .owl-nav .owl-next {
  position: absolute;
    top: 32px;
    font-size: 40px !important;
    outline: none;
 }
.thickborder::before {
  content: '';
    height: 12px;
    width: 12px;
    border-radius: 12px;
    background: #bfc1bf;
    left: -12px;
    top: -4px;
    position: absolute;
}
.thickborder::after {
  content: '';
    height: 12px;
    width: 12px;
    border-radius: 12px;
    background: #bfc1bf;
    right: -12px;
    top: -4px;
    position: absolute;
}
.thickborder {
    height: 4px;
    background: #bfc1bf;
    position: absolute;
    top: 62px;
    left: 90px;
    right: 90px;
}
.descriptionBox {
  padding: 15px 10px;
    margin-top: 42px;
    display: table;
    width: 100%;
    height: 110px;
}
.descriptionBox div {
    display: table-cell;
    vertical-align: middle;
}
.descriptionBox span {
   font-family: calibri-bold;
}
.descriptionBox p {
  font-size: 14px;
  margin: 0px; 
  color: #fff;
}
#milestone p.year {
    text-align: center;
    font-size: 22px;
    color: #3f3f3f;
	font-family: calibri-bold;
	font-style: italic;
}
.circle {
      height: 46px;
    width: 46px;
    background: #fff;
    border-radius: 46px;
    margin: auto;
    display: inline-block;
    position: relative;
    border: 2px solid #bec1be;
        margin: auto;
    display: table;
}
.circle::before {
    content: '';
    height: 22px;
    width: 22px;
    margin: auto;
    margin-top: auto;
    border-radius: 25px;
    z-index: 999;
    margin-top: 10px;
    display: table;
}
.circle::after {
    content: '';
    height: 40px;
    width: 1px;
    margin: auto;
    position: absolute;
    z-index: 999;
    left: 50%;
    background: #bec1be;
    top: 46px;

} 
.descriptionBox.green, .circle.green::before {
  background: #02beaf;
}
.descriptionBox.darkblue, .circle.darkblue::before{
  background: #2f6cab;
}
.descriptionBox.lightblue, .circle.lightblue::before {
  background: #6cb8eb;
}
.descriptionBox.violet, .circle.violet1::before {
  background: #858dd1;
}
.descriptionBox.blue, .circle.blue::before {
  background: #01add5;
}
#milestone li{
	list-style-type: none;
}
.tab-panes{
	display: none;
}

#milestone li div.descriptionBox.active:after {
    content: "\f0d7";
    width: 0;
    height: 0;
    position: absolute;
    z-index: 999;
    font: normal normal normal 44px/1 FontAwesome;
    top: 229px;
    left: 41%;
    font-size: 50px;
    line-height: 32px;
}
#milestone li a[href="#1997"] + div.descriptionBox.active:after {
	color: #02beaf;
}
#milestone li a[href="#2000"] + div.descriptionBox.active:after {
	color: #2f6cab;
}
#milestone li a[href="#2005"] + div.descriptionBox.active:after {
	color: #6cb8eb;
}
#milestone li a[href="#2010"] + div.descriptionBox.active:after {
	color: #858dd1;
}
#milestone li a[href="#2016"] + div.descriptionBox.active:after {
	color: #01add5;
}
.down-pdf .btn{
	border: 2px solid #306dab !important;
	border-radius: 0px !important;
}
.down-pdf img{
	height: 30px;
}
#milestone .owl-next, #milestone .owl-prev{
	display: none;
}
#company-history, #awards.owl-carousel {
  padding: 0px 20px;
}
#company-history .owl-item, #awards .owl-item {
  text-align: center;
}
#awards .owl-nav .owl-prev, #awards .owl-nav .owl-next {
    position: absolute;
    top: 0px;
    font-size: 50px !important;
    outline: none;
}
#company-history .owl-nav .owl-prev, #company-history .owl-nav .owl-next{
    position: absolute;
    top: 0px;
    font-size: 30px !important;
    outline: none
    height: 47px;
    line-height: 42px;
}
#company-history .owl-nav .owl-next, #awards .owl-nav .owl-next, #milestone .owl-nav .owl-next {
  right: 0px;
}
#company-history .owl-nav .owl-prev, #awards .owl-nav .owl-prev, #milestone .owl-nav .owl-prev {
  left: 0px;
}

#company-history .owl-pagination, #awards .owl-pagination {
    display: none;
}

  #awards .owl-item div a {
    background: #e8ba2c;
    float: left;
    color: #fff;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;
  }
  #company-history .owl-item div a {
    background: #02bfb0;
      float: left;
      color: #fff !important;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 18px;
  }
  #company-history .owl-item div.active a {
    background: #06aa9d !important;
  } 

.cd-timeline {
    overflow: hidden;
    margin: 2em auto;
 }

.cd-timeline__container {
	position: relative;
	width: 100%;
	margin: 0 auto;
}
.cd-timeline__container::before {
/* this is the vertical line */
	content: '';
	position: absolute;
	top: 0;
	left: 18px;
	height: 100%;
	width: 2px;
	background: #e1e1e1;
	z-index: 9;
	margin-top: 60px;
}
.cd-timeline__block.js-cd-block.history-block01{
	background: url(../images/history-bg01.jpg); background-position: center;background-size:cover;
}
.cd-timeline__block.js-cd-block.history-block02{
	background: url(../images/history-bg02.jpg); background-position: center;background-size:cover;
}
.cd-timeline__block.js-cd-block.history-block03{
	background: url(../images/history-bg03.jpg); background-position: center;background-size:cover;
}
.cd-timeline__block.js-cd-block.history-block04{
	background: url(../images/history-bg04.jpg); background-position: center;background-size:cover;
}
.cd-timeline__block.js-cd-block.history-block05{
	background: url(../images/history-bg05.jpg); background-position: center;background-size:cover;
}
.cd-timeline__block.js-cd-block.history-block06{
	background: url(../images/history-bg06.jpg); background-position: center;background-size:cover;
}
.cd-timeline__block.js-cd-block.history-block07{
	background: url(../images/history-bg07.jpg); background-position: center;background-size:cover;
}
.cd-timeline__block.js-cd-block.history-block01:before {
    background-color: rgba(1, 174, 214, 0.68);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.cd-timeline__block.js-cd-block.history-block02:before {
    background-color: rgba(133, 141, 209, 0.85);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.cd-timeline__block.js-cd-block.history-block03:before {
    background-color: rgba(243, 157, 91, 0.9);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.cd-timeline__block.js-cd-block.history-block04:before {
    background-color: rgba(48, 109, 171, 0.8);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.cd-timeline__block.js-cd-block.history-block05:before {
    background-color: rgba(2, 191, 176, 0.82);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.cd-timeline__block.js-cd-block.history-block06:before {
    background-color: rgba(133, 141, 209, 0.8);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.cd-timeline__block.js-cd-block.history-block07:before {
    background-color: rgba(1, 174, 214, 0.68);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.company_left_side ul li a {
    background: rgba(2, 191, 176, 0.85);
    color: #fff !important;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 18px;
    height: 55px;
    display: block;
    width: 90px;
    padding-left: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.42);
}
.hr_bg:before {
    background-color: rgba(2, 191, 176, 0.82);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.company_left_side ul li{
	list-style-type: none;
}
.company_left_side {
    position: fixed;
    left: -40px;
    top: 50%;
    z-index: 9999;
}
.tab-bg{
	background-color:#e8eff6;
}
.parts-bg{
	background-color: #f0f5f9;
}
.ref-text-color{
	color: #808285;	
}
.think-border .border-right.border-turquoise{
	border-right: 5px solid #02bfb0 !important;
}
.think-border .border-right.border-dark-orange{
	border-right: 5px solid #f39d5b !important;
}
.think-border .border-right.border-meduim-blue{
	border-right: 5px solid #306dab !important;
}
.think-border .border-right.border-dodger-blue{
	border-right: 5px solid #858dd1 !important;
}
.think-border .border-right.border-navy-blue{
	border-right: 5px solid #00407b !important;
}
.think-border .min-hgt-300 {
    min-height: 250px !important;
}
.think-border .min-hgt-300 {
    min-height: 250px !important;
}
.diabetes-people .border-light-gray{
	border-right: 4px solid #f3f3f3 !important;
}
.color-disease{
	color: #94bd33;
}
.disease-bg-light{
	background-color: #f0f5f9;
}

ul.list-bullet li {
    list-style-type: disc;
}
.clinical_border{
	border: 2px solid #ccc;
	position: relative;
}
.round-circle:after {
    content: "";
    height: 65px;
    width: 65px;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    right: 0;
    top: 0px;
    box-shadow: 0 0 0 4px #fff, 0 0 0 6px #a1a1a1;
}

.color-yellow{
	color: #f2c83b;
}
.color-light-yellow{
	color:#e8ba2c;
}
.color-green{
	color:#93bc33;
}
.bg-green{
	background-color: #93bc33;
}
.bg-yellow{
	background-color: #f2c83b;
}
.min-hgt-100{
	min-height: 155px;
}
.clinical-text-color{
	color:#2f6cab;
}
.round-circle{
	height: 65px;
	width: 65px;
	border-radius: 50%;
	line-height: 65px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	bottom: 30px;
}
.clinical_pop button.close{
	color: #00407b;
    opacity: 1;
	border: solid 1px #00407b;
	position: absolute;
    right: 25px;
    top: 25px;
}
.circle-45{
	height: 45px;
    width: 45px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
	border: 2px solid #02bfb0 !important;
}
.border2 .border{
	border: 2px solid #306dab !important;
}
.border2_navy_blue .border{
	border: 2px solid #00407b !important;
}
.border2_turquoise .border{
	border: 2px solid #02bfb0 !important;
}

.blue-bullet li:before {
    right: auto;
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #306dab;
    border-radius: 50%;
    position: relative;
    left: -8px;
}
.events .tabbed-content .tabs li a{
    justify-content: center;
}
.events .tabbed-content .tabs li a{
	min-height: 65px;
}
.events .tabs ul li a.active:after{
	top: 71px !important;
}
.ongoing_table .w-98{
	width: 98.5% !important;
}
.table.border-navy-blue {
	border: 2px solid #00407b !important;
}
.table.ongoing_table td{
	vertical-align: middle;
}
ul li{
	list-style-type: none;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    font-family: calibri-light; 
}

  .cd-timeline__block {
    position: relative;
   /* margin: 2em 0;
    border-bottom: 1px solid #e1e1e1;**/
  }

  .cd-timeline__block:after {
    /* clearfix */
    content: "";
    display: table;
    clear: both;
  }

  .cd-timeline__block:first-child {
    margin-top: -40px;
	height: 95px;
  }
  .cd-timeline__block:nth-child(2) {
    margin-top: 12px;
  }

  .cd-timeline__block:last-child {
    margin-bottom: 0;
    border-bottom: 0px;
  }
  .cd-timeline__block:first-child .cd-timeline__img{
	width: 95px;
    height: 95px;
	margin-left: -50px;
  }
  .cd-timeline__block:first-child .cd-timeline__img p{
	  line-height: 90px;
  }

  .cd-timeline__img {
        position: absolute;
      top: 0;
      left: 0;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      border: 3px solid #e1e1e1;
      background: #fff;
      z-index: 9;
      margin-left: -15px;
  }

  .cd-timeline__img img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
  }

  .cd-timeline__img.cd-timeline__img--picture {
    background: #75ce66;
  }

  .cd-timeline__img.cd-timeline__img--movie {
    background: #c03b44;
  }

  .cd-timeline__img.cd-timeline__img--location {
    background: #f0ca45;
  }

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

  .cd-timeline__content {
    position: relative;
    margin-left: 60px;
    border-radius: 0.25em;
    padding: 1em;
  }

.cd-timeline__content:after {
    /* clearfix */
  content: "";
  display: table;
  clear: both;
}
/**
.cd-timeline__content::before {

  content: '';
  position: absolute;
  top: 16px;
      right: 100%;
    height: 0;
    width: 0;
    border: 1px solid transparent;
    border-right: 120px solid white;
    border: 1px solid #e1e1e1;
    border-right: 163px solid #e1e1e1;
}
**/
 .cd-timeline__content::after {
  content: '';
  position: absolute;
  top: 16px;
      right: 100%;
    height: 0;
    width: 0;
    top: 40px;
    left: 100%;
  }
.cd-timeline__img p {
    height: 72px;
    line-height: 72px;
    text-align: center;
    font-size: 20px;
    color: #01aed6;
    font-family: "calibri-bold";
}
.cd-timeline__content h2 {
  color: #303e49;
}

/*.cd-timeline__content p,
.cd-timeline__read-more,
.cd-timeline__image {
  font-size: 1.3rem;
}*/

.cd-timeline__content p {
  margin: 10px 0;
  line-height: 24px;
}

.cd-timeline__read-more,
.cd-timeline__image {
  display: inline-block;
}

.cd-timeline__read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}

.cd-timeline__read-more:hover {
  background-color: #bac4cb;
}

  .cd-timeline__image {
    float: left;
    padding: .8em 0;
    opacity: 1;
  }
  .cd-timeline__content h2 {
    color: #6db8ec;
    margin-bottom: 0px;
  }
  .cd-timeline__content p{
    color: #6d6e71;
  }
  .cd-timeline__content p, .cd-timeline__content h2 {
    padding-right: 5%;
  }
  @media only screen and (min-width: 768px) {
    .cd-timeline__content h2 {
      font-size: 18px;
    }
    .cd-timeline__content p {
      font-size: 18px;
    }
    .cd-timeline__read-more,
    .cd-timeline__image {
      font-size: 18px;
    }
  }
 
@media only screen and (min-width: 320px) and (max-width:767px){
	.cd-timeline__content{
		margin-left: 50px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.cd-timeline__container::before{
		left: 40px;
	}
	.cd-timeline__content::before{
		top: 30px;
		right: 80%;
	}
	.cd-timeline__img{
		top: 75px;
		left: 20px;
	}
	.cd-timeline__content::before{
		display: none;
	}
	.cd-timeline__block:first-child .cd-timeline__img{
		margin-left: -18px;
		width: 80px;
		height: 80px;
	}
	.cd-timeline__img p {
		line-height: 65px !important;
	}
	.cd-timeline__block:first-child .cd-timeline__img p {
		line-height: 70px !important;
	}
} 
  
@media only screen and (min-width: 768px) and (max-width: 1199px) {
	.cd-timeline__content{
		margin-left: 100px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.cd-timeline__container::before{
		left: 75px;
	}
	.cd-timeline__content::before{
		top: 30px;
		right: 80%;
	}
	.cd-timeline__img{
		top: 75px;
		left: 55px;
	}
	.cd-timeline__content::before{
		display: none;
	}
	.cd-timeline__block:first-child .cd-timeline__img{
		margin-left: -30px;
	}
	.cd-timeline__img p {
		line-height: 65px !important;
	}
}

  
  @media only screen and (max-width: 786px) {
      .cd-timeline__image, .cd-timeline__content {
          height:  auto !important;
      }
    .banner-text .center-text div h2 {
      font-size: 25px;
    }
    .company_his_contnr {
      padding-right: 0px !important;
      padding-bottom: 0px !important;
      padding-left: 0px !important;
    }
    .company-his-main .panel-body {
      margin-top: -50px;
    }
    .awards-description, .awards-image {
      display: block !important;
      width: 100% !important;
    }
    .awards-description {
      padding: 20px !important;
    }
    .awards-image img{
      display: table;
      margin:auto;
    }
    .awards-content h3 {
      text-align: center;
    }
    .awards-content a {
      text-align: center;
      margin: 10px auto 0px;
      display: table;
    }
    .cd-timeline__img p {
      line-height: 56px;
    }
    .eqlHeight {
      height: auto !important;
    }
    .eqlHeight img {
      margin-bottom: 30px;
    }
    #milestone.owl-carousel.owl-drag .owl-item {
      /*margin-top: -10px;*/
    }
  }
  @-webkit-keyframes cd-bounce-2 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateX(20px);
              transform: translateX(20px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }

  @keyframes cd-bounce-2 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateX(20px);
              transform: translateX(20px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }

  @-webkit-keyframes cd-bounce-2-inverse {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateX(-20px);
              transform: translateX(-20px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }

  @keyframes cd-bounce-2-inverse {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateX(-20px);
              transform: translateX(-20px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }


@media (min-width: 800px){	
	.photos_gallery .tabs ul li{
		margin-bottom: 20px;
	}
	.videos_gallery .tabbed-content .tabs li{
		width: 31.33% !important;
		margin-right: auto;
	}
	.videos_gallery .tabbed-content iframe{
		width: 100%;
		height: auto;
	}
	.cmd_gallery .tabbed-content .tabs ul{
		display: flex;
	}
	.cmd_gallery .tabbed-content .tabs ul li{
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%;
	}
	.cmd_gallery .fa.fa-caret-down{
		display: none !important;
	}
	.biocon_logo .fa.fa-caret-down{
		display: none !important;
	}
	.events .fa.fa-caret-down{
		display: none !important;
	}
	.photos_gallery .tabbed-content .tabs li{
		width: 20%;
	}
	.photos_gallery .tabs ul li a.active:after {
		top: 147px;
	}
	
}

@media (min-width:1200px){	
	.board_of_directors .our_values .box{
		min-height: 370px;
	}
	.about_us .sec_02 .box {
		min-height: 425px;
	}
	.bio_live .box {
		min-height: 418px;
	}
	.home .our_values .box {
		min-height: 370px;
	}
	.our_growth_drivers img{
		width: 100%;
	}
	.our_growth_drivers .homeBxicon img{
		width: 60px;
	}
	.home .compassion .box{
		min-height: 400px;
		max-height: 355px;
	}
	.text-right-absolute{
		position: absolute;
		right: 7%;
		top: 40%;
	}
	.our_value_drivers .box{
		min-height: 345px;
	}
	.press_release .box{
		min-height: 240px;
	}
	.branded_formulation .min-hgt-300{
		min-height: 365px !important;
	}
	/*.boxHead h3{
		height: 75px;
	}*/
	.hr_policies .box{
		min-height: 220px !important;
	}
	/**
	.home .boxHead {
		min-height: 120px;
		display: flex;
		align-items: center;
	}
	**/
	.talent .box02 {
		min-height: 400px !important;
	}
	.talent .box01 {
		min-height: 350px !important;
	}
	.talent .boxHead h3{
		height: 100px;
	}	
	.transition .box02 {
		min-height: 300px !important;
	}
	.transition .box01 {
		min-height: 345px !important;
	}
	
	.learning .box02 {
		min-height: 140px !important;
	}
	.learning .box01 {
		min-height: 410px !important;
	}
	.learning .boxHead h3{
		height: 100px;
	}
	.learning_development .container-fluid-bg{
		padding-right: 5%;
		padding-left: 5%;
	}
	.employee_friendly .container-fluid-bg{
		padding-right: 45px;
		padding-left: 45px;
	}
	.learning_development .min-hgt-300 {
		min-height: 460px !important;
	}
	.light-gray{background:#fafafa;}
	.employee_friendly .society .box02 {
		min-height: 180px !important;
	}
	.employee_friendly .society .box01 {
		min-height: 635px !important;
	}
	.employee_friendly .sports .boxHead h3, .employee_friendly .rewards_recognition .boxHead h3 {
		height: 90px;
	}
	.wellness h3 {
		font-size: 24px;
	}
	.wellness .min-hgt-300{
		min-height: 375px !important;
	}
	 .getter .box h2 {
		font-size: 94px;
		position: absolute;
		top: -60px;
		right: 0;
		left: 0;
		-webkit-text-stroke-width: 2px;
		/* text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; */
		-webkit-text-stroke-color: #ffffff;
	}
	 .getter .boxHead h3{
		height: 80px;
		justify-content: flex-end;
		margin-bottom: 10px;
	}
	.roots .box{
		min-height: 560px;
	}
	.roots .box.light-gray img {
		position: absolute;
		left: -15px;
	}
	.transition h2.border_head::before{
		display: block;
	}
	.transition h2.border_head{
		font-size: 24px;
	}
	.inclusion iframe{
		height: 325px;
		width: 100%;
	}
	.inclusion .box{
		min-height: 325px;
	}
	.working_mother img{
		height: 100px;
	}
	.diversity_left .female .progress-bar {
		margin-left: 40px;
	}
	.diversity_right .female .progress-bar {
		margin-left: 40px;
	}
	.male::after {
		content: '';
		background: url(../images/icons/male-female.png);
		position: absolute;
		top: 50%;
		width: 50px;
		height: 50px;
		background-repeat: no-repeat;
		background-size: 33px;
		margin-left: 4px;
	}	
	.our_scientists, .overall {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.text-xl-left{
		text-align: left;
	}
	.biowin img.bio-womens{
		height: 340px;
		width: auto;
	}
	.stories .box{
		min-height:410px;
	}
	.sheet .min-hgt-300{
		min-height: 270px !important;
	}
	.visual_library .min-hgt-300{
		min-height: 200px !important;
	}
	
	.stories .box .boxHead + div img{
		height: 100px;
	}
	.banner_content{
		background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 2%,rgba(255, 255, 255, 0.85) 20%,rgba(255, 255, 255, 0.91) 23%) !important;
		background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 2%,rgba(255,255,255,0.85) 20%,rgba(255,255,255,0.91) 23%) !important;
		background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 2%, rgba(255,255,255,0.85) 20%, rgba(255,255,255,0.91) 23%) !important;
	}
	.videos_gallery .tabbed-content iframe{
		width: 100%;
		height: 280px;
	}
	.media_stories ul li img {
		height: 45px;
	}
	.photos_gallery .tabs ul li a.active:after {
		top: 118px;
	}
	
	.cd-timeline__content {
      margin-left: 0;
      padding: 0;
      width: 45%;
      /* Force Hardware Acceleration */
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
        min-height: 350px;
      padding-top: 16px;
	    display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
    }
	/**
    .cd-timeline__content::before {
      top: 95px;
      left: 105%;
      width: 0px;
      border-color: #e1e1e1;
      border-left-color: #e1e1e1;
    }
	
    .cd-timeline__content::after {
        top: 93px;
      left: 138%;
      height: 6px;
      width: 5px;
      border-left: 5px solid #e1e1e1;
      border-radius: 5px;
      border-right: 1px solid #e1e1e1;
    }
	**/
	.company-his-main .right-border:before {
		content: "";
		top: 36px;
		left: 104px;
		position: absolute;
		height: 5px;
		width: 5px;
		border-radius: 50%;
		background-color: #fff;
	}
	.company-his-main .left-border:before {
		content: "";
		top: 36px;
		right: 119px;
		position: absolute;
		height: 5px;
		width: 5px;
		border-radius: 50%;
		background-color: #fff;
	}
	.company-his-main .right-border:after {
		content: "";
		display: block;
		border: 1px solid #fff;
		width: 108px;
		position: absolute;
		top: 37px;
		z-index: -1;
	}
	.company-his-main .left-border:after {
		content: "";
		display: block;
		border: 1px solid #fff;
		width: 108px;
		position: absolute;
		top: 37px;
		z-index: -1;
		right: 15px;
	}
	/**
	p.color-dark-gray.right-border:after {
		top: 93px;
      left: 138%;
      height: 6px;
      width: 5px;
      border-left: 5px solid #e1e1e1;
      border-radius: 5px;
      border-right: 1px solid #e1e1e1;
	}
	*/
    .cd-timeline__read-more {
      float: left;
    }
    .cd-timeline__image {
          position: absolute;
      width: 100%;
      left: 127%;
      top: 10%;
      font-size: 1.6rem;
      z-index: 99999;
	  padding-left: 9px;
    }
    .cd-timeline__image img {
      border: 5px solid #e1e1e1;
      min-height: 300px;
      float: right;
      margin-top: 20px;
      /*width: 100%;*/
    }
    .cd-timeline__block:nth-child(odd) .cd-timeline__content p, .cd-timeline__block:nth-child(odd) .cd-timeline__content h2 {
    padding-right: 0px;
    padding-left: 6%;
  }
     .cd-timeline__block:nth-child(odd)  .cd-timeline__image img {
      float: left;
     }
    .cd-timeline__block:nth-child(odd) .cd-timeline__content {
      float: right;
    }
    .cd-timeline__block:nth-child(odd) .cd-timeline__content::before {
      left: auto;
      right: 106%;
      border-color: #e1e1e1;
      border-right-color: #e1e1e1;
    }
     .cd-timeline__block:nth-child(odd) .cd-timeline__content::after {
      left: auto;
      right: 139%;
     }
    .cd-timeline__block:nth-child(odd) .cd-timeline__read-more {
      float: right;
    }
    .cd-timeline__block:nth-child(odd) .cd-timeline__image {
      left: auto;
      right: 130%;
      text-align: right;
	  padding-right: 10px;
    }
    .cd-timeline__content.cd-timeline__content--bounce-in {
      visibility: visible;
      -webkit-animation: cd-bounce-2 0.6s;
              animation: cd-bounce-2 0.6s;
    }

  /* inverse bounce effect on even content blocks */
  .cd-timeline__block:nth-child(odd) .cd-timeline__content.cd-timeline__content--bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
            animation: cd-bounce-2-inverse 0.6s;
  }
	.company-his-main .tab-content>.active {
		margin: 0 auto;
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.cd-timeline__img {
      width: 80px;
      height: 80px;
      left: 50%;
      margin-left: -40px;
	  margin-top: 55px;
      /* Force Hardware Acceleration */
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    .cd-timeline__img.cd-timeline__img--bounce-in {
      visibility: visible;
      -webkit-animation: cd-bounce-1 0.6s;
              animation: cd-bounce-1 0.6s;
    }
	.cd-timeline {
      margin-top: 0;
      margin-bottom: 0;
    }
    .cd-timeline__container::before {
      left: 50%;
      margin-left: -3px;
    }
	.cd-timeline__block {
      margin: 0em 0;
      padding-bottom: 15px;
    }
	ul.flags li img{
		float: left;
		width: 60px;
	}
	ul.flags li{
		margin-bottom: 12px;
	}
	.financials .inner-links .box {
		min-height: 295px;
	}	
	.our_values .box {
		min-height: 385px;
		padding-bottom: 0px;
	}
	.about_diabetes .box{
		min-height: 730px;
	}
	.about_diabetes .w-85{
		width: 85%;
	}
	.about_diabetes .diseases{
		z-index: 9999;
		background-color: white !important;
		position: relative;
		right: 0;
		left: 0;
		margin: 0 auto;
		margin-top: -340px;
	}
	.mechanism .min-hgt-300{
		min-height: 440px !important;
	}
	.mechanism img.itolizumab{
		height: 285px;
	}
	.clinical .min-hgt-300{
		min-height: 300px !important;
	}
}
@media (min-width: 1260px){
	.press_release .box {
		min-height: 190px;
	}
}
@media only screen and (min-width:992px) and (max-width:1199px){
	.board_of_directors .our_values .box{
		min-height: 420px;
	}
	.home .our_values .box{
		min-height: 420px;
	}
	.home .sec_02.our_growth_drivers .box {
		min-height: 345px;
	}
	.home .sec_02.our_growth_drivers .boxHead h3{
		font-size: 17px;
	}
	.home .bio_live iframe{
		height: 224px;
	}
	.text-right-absolute{
		position: absolute;
		right: 10%;
		top: 40%;
	}
	.our_vision_mission_values .main_banner {
		background-position: center !important	;
	}
	.our_value_drivers .box{
		min-height: 400px;
	}
	.press_release .box{
		min-height: 260px;
	}
	.branded_formulation .min-hgt-300{
		min-height: 386px !important;
	}
	.hr_policies .box{
		min-height: 220px !important;
	}
	.bio_live .box {
		min-height: 420px !important;
	}
	.talent .box02 {
		min-height: 340px !important;
	}
	.talent .box01 {
		min-height: 310px !important;
	}
	.talent .boxHead h3{
		height: 100px;
	}
	.learning .box02 {
		min-height: 100px !important;
	}
	.learning .box01 {
		min-height: 408px !important;
	}
	.learning .boxHead h3{
		height: 100px;
	}
	.learning_development .min-hgt-300 {
		min-height: 460px !important;
	}
	.learning_development .leaders .homeBxicon{
		height: 90px;
	}
	.learning_development .leaders .boxHead h3{
		height: 90px;
	}
	.employee_friendly .society .box02 {
		min-height: 180px !important;
	}
	.employee_friendly .society .box01 {
		min-height: auto !important;
	}
	.employee_friendly .sports .boxHead h3, .employee_friendly .rewards_recognition .boxHead h3 {
		height: 90px;
	}
	.wellness .min-hgt-300{
		min-height: 400px !important;
	}
	.roots p.color-dark-gray:after, .roots p.color-dark-gray:before{
		bottom: auto;
	}
	.rewards_recognition .min-hgt-300 {
		min-height: 396px !important;
	}
	.transition .box02 {
		min-height: 300px !important;
	}
	.transition .box01 {
		min-height: 300px !important;
	}
	.getter .box{
		min-height: 325px;
	}
	.inclusion iframe{
		height: 350px;
		width: 100%;
	}
	.inclusion .box{
		min-height: 350px;
	}
	.working_mother img{
		height: 100px;
	}
	.diversity_left .progress-bar, .diversity_right .progress-bar {
		position: relative;
		height: 60px;
		width: 180px;
		float: none;
		margin: 25% auto 40%;
	}
	.diversity_left .female .progress-bar, .diversity_right  .female .progress-bar {
		margin-bottom: 20% !important;
	}
	.tolerance .min-hgt-300{
		min-height: 370px !important;
	}
	.about_us .mid-section .vision_mission_img{
		background-size: cover !important;
		background-position: -100px !important;
	}
	.banner_content{
		background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 2%,rgba(255, 255, 255, 0.85) 20%,rgba(255, 255, 255, 0.91) 23%);
		background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 2%,rgba(255,255,255,0.85) 20%,rgba(255,255,255,0.91) 23%);
		background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 2%, rgba(255,255,255,0.85) 20%, rgba(255,255,255,0.91) 23%);
	}
	.stories .box {
		min-height: 440px;
	}
	.visual_library .min-hgt-300 {
		min-height: 200px !important;
	}
	.sheet .min-hgt-300{
		min-height: 270px !important;
	}
	.videos_gallery .tabbed-content .tabs li a{
		min-height: 100px;
	}
	.photos_gallery .tabbed-content .tabs li a{
		font-size: 17px;
	}
	.photos_gallery .tabbed-content .tabs li{
		width: 20%;
	}
	.photos_gallery .tabbed-content .tabs ul li img {
		height: 40px;
	}
	.photos_gallery .tabs ul li a.active:after {
		top: 109px;
	}
	.events .tabs ul li a.active:after {
		top: 65px;
	}
	.lifebiocon p{
		text-align: justify;
	}
	.our_values .box {
		min-height: 420px;
		padding-bottom: 0px;
	}
	.cmd_gallery .tabs ul li a.active:after {
		top: 70px;
	}
	.tv-interviews .min-hgt-100{
		min-height: 100px;
	}
	.media_stories ul li img {
		height: 45px;
	}
	.financials .inner-links .box {
		min-height: 320px;
	}
	ul.flags li img{
		float: left;
		width: 48px;
	}
	ul.flags li{
		margin-bottom: 10px;
		font-size: 15px;
	}
	.about_diabetes .box{
		min-height: 515px;
	}
	.mechanism .min-hgt-300{
		min-height: 520px !important;
	}
	.investigators .min-hgt-300{
		min-height: 450px !important;
	}
}

@media (min-width:768px) and (max-width:991px){
	h2.border_head::before{
		margin-top: 2px;
	}
	h2.border_head span{
		font-size: 26px;
	}
	.home .sec_02.our_growth_drivers .box + img {
		width: 100%;
	}
	.home section.main_banner{
		background-position: center;
	}
	.about_us section.main_banner{
		background-position: center !important;
	}
	.about_us .bio_live .box{
		min-height: 420px;
	}
	.text-right-absolute{
		position: absolute;
		right: 10%;
		top: 40%;
	}
	.our_vision_mission_values .main_banner {
		background-position: center !important	;
	}
	.our_value_drivers .box{
		min-height: 475px;
	}
	.press_release .box{
		min-height: auto;
	}
	.hr_policies .box{
		min-height: 220px !important;
	}
	.bio_live .box {
		min-height: 415px !important;
	}
	.compassion .box{
		min-height: 370px !important;
	}
	.talent_pool .boxHead h3{
		height: 100px;
	}
	.talent .box02 {
		min-height: 410px !important;
	}
	.talent .box01 {
		min-height: 350px !important;
	}
	.talent .boxHead h3{
		height: 100px;
	}
	.learning .box02 {
		min-height: 160px !important;
	}
	.learning .box01 {
		min-height: auto !important;
	}
	.learning .boxHead h3{
		height: 100px;
	}
	.employee_friendly .society .box02 {
		min-height: 180px !important;
	}
	.employee_friendly .society .box01 {
		min-height: auto !important;
	}
	.rewards_recognition .box.min-hgt-300 {
		min-height: auto !important;
	}
	.suprise .box.min-hgt-300 {
		min-height: auto !important;
	}
	.transition .box02 {
		min-height: 380px !important;
	}
	.transition .box01 {
		min-height: auto !important;
	}
	.roots p.color-dark-gray:after, .roots p.color-dark-gray:before{
		bottom: auto;
	}
	.getter .box{
		min-height: 275px;
	}
	.our_scientists, .overall{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.inclusion iframe {
		height: 420px;
		width: 100%;
	}
	.working_mother .border-right{
		border-right: none !important; 
	}
	.inclusion .box{
		min-height: 420px;
	}
	.banner_content{
		background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 2%,rgba(255, 255, 255, 0.85) 20%,rgba(255, 255, 255, 0.91) 23%);
		background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 2%,rgba(255,255,255,0.85) 20%,rgba(255,255,255,0.91) 23%);
		background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 2%, rgba(255,255,255,0.85) 20%, rgba(255,255,255,0.91) 23%);
	}
	.stories .box {
		min-height: 430px;
	}
	.visual_library .min-hgt-300 {
		min-height: 200px !important;
	}
	.sheet .min-hgt-300{
		min-height: 270px !important;
	}
	.lifebiocon p{
		text-align: justify;
	}
	.our_values .box {
		min-height: 335px;
		padding-bottom: 20px;
	}
	.videos_gallery .tabbed-content iframe{
		width: 100%;
		height: auto;
	}
	.tabs ul li.meduim-blue a.active:after {
		color: #01aed6;
	}
	.tabs ul li.dodger-blue a.active:after {
		color: #858dd1;
	}
	.cmd_gallery .tabs ul li a.active:after {
		top: 70px;
	}

	.tabbed-content .item.active .arrow-down-mobile{
		top: 37px;
	}
	.biocon_logo .w-mobile-100 {
		width: 80% !important;
	}
	.videos_gallery .tabbed-content #biocon-videos.item::before, .videos_gallery .tabbed-content #biocon-videos.item.active::before {
		background: #02bfb0;
		color: #fff;
		text-align: center;
	}
	.videos_gallery .tabbed-content #people-videos.item::before, .videos_gallery .tabbed-content #people-videos.item.active::before {
		background: #01aed6;
		color: #fff;
		text-align: center;
	}
	.videos_gallery .tabbed-content #products-videos.item::before, .videos_gallery .tabbed-content #products-videos.item.active::before {
		background: #858dd1;
		color: #fff;
		text-align: center;
	}
	.tabbed-content #audit.item::before, .tabbed-content #audit.item.active::before{
		text-align: center;
	}
	.cmd_gallery .tabbed-content #cmd-picture.item::before, .cmd_gallery .tabbed-content #cmd-picture.item.active::before{
		background: #02bfb0;
		text-align: center;
		color: #fff;
	}
	.cmd_gallery .tabbed-content #cmd-videos.item::before, .cmd_gallery .tabbed-content #cmd-videos.item.active::before{
		background: #01aed6;
		text-align: center;
		color: #fff;
	}
	.photos_gallery .tabbed-content #facility-images.item::before, .photos_gallery .tabbed-content #facility-images.item.active::before{
		background: #6db8ec;
		text-align: center;
		color:#fff;
	}
	.photos_gallery .tabbed-content #rd-picture.item::before, .photos_gallery .tabbed-content #rd-picture.item.active::before{
		background: #02bfb0;
		text-align: center;
		color:#fff;
	}
	.photos_gallery .tabbed-content #key-management.item::before, .photos_gallery .tabbed-content #key-management.item.active::before{
		background: #306dab;
		text-align: center;
		color:#fff;
	}
	.photos_gallery .tabbed-content #people-shots.item::before, .photos_gallery .tabbed-content #people-shots.item.active::before {
		background: #01aed6;
		text-align: center;
		color:#fff;
	}
	.photos_gallery .tabbed-content #products-shots.item::before, .photos_gallery .tabbed-content #products-shots.item.active::before {
		background: #858dd1;
		text-align: center;
		color: #fff;
	}
	
	.biocon_logo .tabbed-content #audit.item::before, .biocon_logo .tabbed-content #audit.item.active::before{
		background: #01aed6;
		text-align: center;
	}
	.biocon_logo .tabbed-content #nomination.item::before,  .biocon_logo.tabbed-content #nomination.item.active::before{
		background: #f39d5b;
		text-align: center;
	}
	.biocon_logo .tabbed-content #corporate.item::before, .biocon_logo .tabbed-content #corporate.item.active::before{
		background: #02bfb0;
		text-align: center;
	}
	.biocon_logo .tabbed-content #stakeholder.item::before, .biocon_logo .tabbed-content #stakeholder.item.active::before {
		background: #a480d8;
		text-align: center;
	}
	.photos_gallery .tabbed-content .tabs li{
		width: 20%;
		min-height: 158px;
	}
	.photos_gallery .tabbed-content .tabs li a {
		font-size: 16px;
		justify-content: flex-start;
	}
	ul.flags li img{
		float: left;
		width: 60px;
	}
	ul.flags li{
		margin-bottom: 12px;
	}
	.financials .inner-links .box {
		min-height: 375px;
	}	
	.board_committe .tabbed-content .tabs li{
		width: 155px;
	}
	.bg-md-none{
		background-image: none;
	}
	.text-tablet-center {
		text-align: center !important;
	}
	.think-border .border-right.border-dark-orange{
		border-right: none !important;
	}
	.think-border .border-right.border-turquoise{
		border-right: none !important;
	}
	.think-border .border-right.border-meduim-blue{
		border-right: none !important;
	}
	.think-border .border-right.border-dodger-blue{
		border-right: none !important;
	}
	.think-border .border-right.border-navy-blue{
		border-right: none !important;
	}
	.biocon_oncology .min-hgt-300{
		min-height: auto !important;
	}
	.diabetes-people .border-light-gray{
		border-right: none !important;
	}
}

@media (max-width: 767px) {
	h2.border_head::before{
		display: none;
	}
	h2.border_head span{
		font-size: 26px;
		display: block;
	}
	.key_management_team .banner_content h1{
		font-size: 36px;
	}
	/**
	.boxHead h3{
		margin: 15px 0 0;
	}
	
	.home .banner_content{
		max-width: 100% !important;
		background-image: linear-gradient(to right, transparent, transparent);
	}
	.home section.main_banner{
		background-position: center;
		height: 235px;
	}
	**/
	.home .main_banner h1{
		font-size: 36px;
	}
	h1.blue-text{
		font-size: 36px;
	}
	.about_us .box{
		min-height: auto;
	}
	.board_of_directors .box{
		min-height: auto;
	}
	.our_vision_mission_values .min-hgt-300 {
		background-position: center !important;
	}
	.our_vision_mission_values .box.min-hgt-300{
		min-height: auto !important;
	}
	.press_release .box{
		min-height: auto;
	}
	.talent .box02 {
		min-height: 220px !important;
	}
	.talent .box01 {
		min-height: auto !important;
	}
	.talent .boxHead h3{
		height: 100px;
	}
	.learning .box02 {
		min-height: 160px !important;
	}
	.learning .box01 {
		min-height: auto !important;
	}
	.learning .boxHead h3{
		height: 100px;
		margin: 0;
	}
	.learning_development .min-hgt-300{
		min-height: 250px !important;
	}	
	.employee_friendly .society .box02 {
		min-height: 180px !important;
	}
	.employee_friendly .society .box01 {
		min-height: auto !important;
	}
	.employee_friendly .society .boxHead h3{
		margin-top: 0px;
	}
	.wellness .min-hgt-300.bg-cover{
		min-height: 355px !important;
	}
	.employee_friendly .breadcrumb-item.active{
		padding-left: 10px;
		font-size: 14px;
	}
	.employee_friendly .breadcrumb-item{
		padding: 5px 5px;
	}
	.employee_friendly .breadcrumb .breadcrumb-item a{
		font-size: 13px;
	}
	.text-mobile-center{
		text-align:center !important;
	}
	.transition .box02 {
		min-height: 300px !important;
	}
	.transition .box01 {
		min-height: auto !important;
	}
	.getter .boxHead h3{
		height: 70px;
	}
	.getter .box{
		min-height: 275px;
	}
	.inclusion iframe {
		height: auto;
		width: 100%;
	}
	.inclusion .box{
		min-height: auto;
	}
	.gender_diversity .min-hgt-300{
		min-height: 320px !important;
	}
	.our_scientists, .overall{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.biowin .min-hgt-300 {
		min-height: auto !important;
		padding-bottom: 0px !important;
	}
	.home .sec_02.our_growth_drivers .box + img {
		width: 100%;
	}
	.our_value_drivers .box{
		min-height: auto;
	}

	.our_vision_mission .breadcrumb-item.active{
		padding-left: 10px;
		font-size: 14px;
	}
	.our_vision_mission .breadcrumb-item{
		padding: 5px 5px;
	}
	.our_vision_mission .breadcrumb .breadcrumb-item a{
		font-size: 13px;
	}
	.media-log .modal-dialog {
		width: 80%;
		margin: 30% auto;
	}
	.w-mobile-100{
		width: 100%;
	}
	.biocon_logo .w-mobile-100{
		width: 100% !important;
	}
	.mobile_content{
		background-image: linear-gradient(to right, transparent, transparent);
		background-color: rgba(0, 0, 0, 0.30);
		max-width: 100% !important;
		padding-left: 10px;
		min-height: 235px;
	}
	.mobile_h1{
		text-align: center;
		display: block;
		width: 100%;
		color: #fff;
	}
	.mobile_banner{
		min-height: 235px;
	}
	.mobile_p{
		text-align: center;
		color: #fff;
	}
	.lifebiocon p{
		text-align: justify;
	}
	.videos_gallery .tabbed-content iframe{
		width: 100%;
		height: auto;
	}
	.tabs ul li.meduim-blue a.active:after {
		color: #01aed6;
	}
	.tabs ul li.dodger-blue a.active:after {
		color: #858dd1;
	}
	.videos_gallery .tabbed-content #biocon-videos.item::before, .videos_gallery .tabbed-content #biocon-videos.item.active::before {
		background: #02bfb0;
		color: #fff;
		text-align: center;
	}
	.videos_gallery .tabbed-content #people-videos.item::before, .videos_gallery .tabbed-content #people-videos.item.active::before {
		background: #01aed6;
		color: #fff;
		text-align: center;
	}
	.videos_gallery .tabbed-content #products-videos.item::before, .videos_gallery .tabbed-content #products-videos.item.active::before {
		background: #858dd1;
		color: #fff;
		text-align: center;
	}
	.tabbed-content #audit.item::before, .tabbed-content #audit.item.active::before{
		text-align: center;
	}
	.cmd_gallery .tabbed-content #cmd-picture.item::before, .cmd_gallery .tabbed-content #cmd-picture.item.active::before{
		background: #02bfb0;
		text-align: center;
		color: #fff;
	}
	.cmd_gallery .tabbed-content #cmd-videos.item::before, .cmd_gallery .tabbed-content #cmd-videos.item.active::before{
		background: #01aed6;
		text-align: center;
		color: #fff;
	}
	.photos_gallery .tabbed-content #facility-images.item::before, .photos_gallery .tabbed-content #facility-images.item.active::before{
		background: #6db8ec;
		text-align: center;
		color:#fff;
	}
	.photos_gallery .tabbed-content #rd-picture.item::before, .photos_gallery .tabbed-content #rd-picture.item.active::before{
		background: #02bfb0;
		text-align: center;
		color:#fff;
	}
	.photos_gallery .tabbed-content #key-management.item::before, .photos_gallery .tabbed-content #key-management.item.active::before{
		background: #306dab;
		text-align: center;
		color:#fff;
	}
	.photos_gallery .tabbed-content #people-shots.item::before, .photos_gallery .tabbed-content #people-shots.item.active::before {
		background: #01aed6;
		text-align: center;
		color:#fff;
	}
	.photos_gallery .tabbed-content #products-shots.item::before, .photos_gallery .tabbed-content #products-shots.item.active::before {
		background: #858dd1;
		text-align: center;
		color: #fff;
	}
	
	.biocon_logo .tabbed-content #audit.item::before, .biocon_logo .tabbed-content #audit.item.active::before{
		background: #01aed6;
		text-align: center;
	}
	.biocon_logo .tabbed-content #nomination.item::before,  .biocon_logo.tabbed-content #nomination.item.active::before{
		background: #f39d5b;
		text-align: center;
	}
	.biocon_logo .tabbed-content #corporate.item::before, .biocon_logo .tabbed-content #corporate.item.active::before{
		background: #02bfb0;
		text-align: center;
	}
	.biocon_logo .tabbed-content #stakeholder.item::before, .biocon_logo .tabbed-content #stakeholder.item.active::before {
		background: #a480d8;
		text-align: center;
	}
	.board_committe .tabbed-content .item::before{
		text-align: center;
	}
	.events .tabbed-content .item::before{
		color: #00407b !important;
		border: 2px solid #02bfb0;
		background: #fff !important;
	}
	
	.events .tabbed-content .item.active::before{
		background: #02bfb0 !important;
		text-align: center;
		color: #fff !important;
	}
	
	.about_us section.main_banner{
		background-position: center !important;
	}
	.our_values .box{
		min-height: auto;
	}
	.bg-img{
		background: transparent !important;
	}
	.bg-img.min-hgt-300{
		min-height: auto !important;
	}
	.b_vision .bg-img.min-hgt-300{
		min-height: auto !important;
	}
	.b_mission img, .b_vision img, .b_values img{
		width: 100%;
	}
	.b_vision .min-hgt-300, .b_mission .min-hgt-300, .b_values .min-hgt-300{
		min-height: auto !important;
	}
	.microbial .boxHead{
		min-height: 80px;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		padding-bottom: 0;
	}
	#mySelect{
		padding-left: 0px;
		padding-right: 0px;
		right: 0;
	}
	.years_months div{
		max-width: 80px;
	}
	select.months{
		width: 175px;
	}
	select#years{
		width: 85px;
	}
	.media_stories .years_months {
		width: 180px !important;
		margin: 0 auto;
	}
	.media_stories .tabbed-contents .tabs ul li{
		width: 90px;
	}
	.media_stories .years_months div{
		max-width: 130px;
	}
	.media_stories .select_months {
		width: 100px;
	}
	.media_stories .select_years {
		margin-left: -50px;
	}
	.financial_result select#years {
		width: 215px;
		margin: 0px auto;
		text-align: center;
		right: 0;
		left: 0;
	}
	.financial_result label{
		width: 100%;
	}
	#annual_reports #years {
		text-align: center;
		margin: 0 auto;
		left: 0;
		right: 0;
	}
	.company_his_contnr {
		padding-left: 15px;
		padding-right: 15px;
	}
	.roots p.color-dark-gray:after{
		bottom: 20px;
		right: -15px;
	}
	ul.flags li img{
		float: left;
		width: 60px;
	}
	ul.flags li:last-child {
		margin-bottom: 20px;
	}
	ul.flags li{
		margin-bottom: 20px;
	}
	.board-of-committe #myModal .right-top-0 {
		right: 2px;
		top: 2px;
	}
	.divedend_history .pdf_blue{
		height: 20px !important;
		width: auto !important;
	} 
	.bg-mobile-none{
		background-image: none;
	}
	.think-border .border-right.border-dark-orange{
		border-right: none !important;
	}
	.think-border .border-right.border-turquoise{
		border-right: none !important;
	}
	.think-border .border-right.border-meduim-blue{
		border-right: none !important;
	}
	.think-border .border-right.border-dodger-blue{
		border-right: none !important;
	}
	.think-border .border-right.border-navy-blue{
		border-right: none !important;
	}
	.diabetes-people .border-light-gray{
		border-right: none !important;
	}
	.addressing .border-right{
		border-right: none !important;
	}
}

@media (min-width:576px) and (max-width:767px){
	.about_us .heading-with-content .min-hgt-300{
		min-height: 330px;
	}
	.about_us section.main_banner{
		background-position: center !important;
	}
	.board_of_directors .without-color .boxHead h3{
		font-size: 24px;
	}
	.home section.main_banner{
		background-position: center;
	}
	.home .our_values .box{
		min-height: auto;
	}
	.home .compassion .box{
		min-height: 365px;
	}
	.our_vision_mission_values .main_banner {
		background-position: center !important	;
	}
	.talent_pool .min-hgt-300{
		min-height: 385px !important;
	}
	.talent_pool .min-hgt-300.bg-cover{
		min-height: 385px !important;
	}
	.talent_pool .boxHead h3{
		height: 70px;
	}
	/**
	.banner_content{
		background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 2%,rgba(255, 255, 255, 0.85) 20%,rgba(255, 255, 255, 0.91) 23%);
		background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 2%,rgba(255,255,255,0.85) 20%,rgba(255,255,255,0.91) 23%);
		background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 2%, rgba(255,255,255,0.85) 20%, rgba(255,255,255,0.91) 23%);
	}
	*/
}

@media (max-width: 575px) {
	.press_release .border_right{
		border: none;
	}
	.life_at_biocon img{
		width:100%;
	}
	.awardsTab .media img{
		width:100%;
	} 
	.home .sec_02.our_growth_drivers .box + img {
		width: 100%;
	}
	.board_of_directors .min-hgt-300.bg-cover{
		min-height: 295px !important;  
		background-position: center !important;
	}
	.key_management_team .min-hgt-300.bg-cover{
		min-height: 295px !important; 
		background-position: center !important;
	}
	.home .banner_content{
		padding-left:0px;
	}
	.home .our_growth_drivers .box{
		min-height: auto;
	}
	.home .our_values .box{
		min-height: auto;
	}
	.home .boxHead h3{
		height: 80px;
	}
	.home .homeBxicon{
		height: 80px;
	}
	
	.board_of_directors .boxHead h3{
		height: 80px;
	}
	.mobile_content{
		background-image: linear-gradient(to right, transparent, transparent);
		background-color: rgba(0, 0, 0, 0.30);
		max-width: 100% !important;
		padding-left: 10px;
		min-height: 235px;
	}
	.mobile_h1{
		text-align: center;
		display: block;
		width: 100%;
		color: #fff;
	}
	.mobile_banner{
		min-height: 235px;
	}
	.mobile_p{
		text-align: center;
		color: #fff;
	}
	/**
	.our_vision_mission_values .banner_content, .home .banner_content, .awards .banner_content, .about_us .banner_content, .biologics .banner_content, .key_management_team .banner_content, .board_of_directors .banner_content{
		background-image: linear-gradient(to right, transparent, transparent);
		background-color: rgba(0, 0, 0, 0.30);
		max-width: 100% !important;
		padding-left: 10px;
	}
	.our_vision_mission_values .banner_content h1.blue-text, .home .banner_content h1.blue-text, .awards .banner_content h1.blue-text, .about_us .banner_content h1.blue-text, .biologics .banner_content h1.blue-text, .key_management_team .banner_content h1.blue-text, .board_of_directors .banner_content h1.blue-text{
		text-align: center;
		display: block;
		width: 100%;
		color: #fff;
	}
	.our_vision_mission_values .banner_content p, .home .banner_content p, .awards .inner-banner p, .about_us .banner_content p, .biologics .banner_content p, .key_management_team .banner_content p, .board_of_directors .banner_content p{
		text-align: center;
		color: #fff;
	}
	.our_vision_mission_values .inner-banner, .home .inner-banner, .awards .inner-banner, .about_us .inner-banner, .biologics .inner-banner, .key_management_team .inner-banner, .board_of_directors .inner-banner{
		min-height: 235px;
	}
	.our_vision_mission_values .inner-content, .home .inner-content, .awards .inner-content, .about_us .inner-content, .biologics .inner-content, .key_management_team .inner-content, .board_of_directors .inner-content{
		min-height: 235px;
	}
	**/
	.our_vision_mission_values .bottom-5, .about_us .bottom-5, .biologics .bottom-5, .key_management_team .bottom-5{
		bottom: 0;
	}
	.our_vision_mission_values .breadcrumb .breadcrumb-item a, .biologics .breadcrumb .breadcrumb-item a, .key_management_team .breadcrumb .breadcrumb-item a {
		font-size: 14px;
	}
	.biologics .breadcrumb-item.active, .key_management_team .breadcrumb-item.active{
		font-size: 16px;
		padding-left: 20px !important;
	}
	.our_vision_mission_values .breadcrumb-item, .biologics .breadcrumb-item, .key_management_team .breadcrumb-item{
		padding: 5px 3px;
	}
	.our_vision_mission_values .min-hgt-300 {
		min-height: 250px !important;
	}
	.our_vision_mission_values .breadcrumb-item.active{
		font-size: 14px;
		padding-left: 10px !important;
	}
	.branded_formulation .min-hgt-300{
		min-height: 320px !important;
	}
	.hr_policies .boxHead h3.h-80{
		height: auto;
	}
	.learning_development .breadcrumb-item.active{
		padding-left: 10px;
	}
	.learning_development .breadcrumb-item{
		padding: 5px 3px;
	}
	.g2g .getter .box{
		min-height: auto;
	}
	.rewards_recognition .min-hgt-300, .suprise .min-hgt-300 {
		min-height: 210px !important;
	}
	
	.lifebiocon p{
		text-align: justify;
	}
	nav.bottom-5 {
		bottom: 0px;
	}
	.breadcrumb-item.active{
		padding-left: 10px;
		font-size: 14px;
	}
	.breadcrumb-item {
		padding: 5px 4px;
	}
	.breadcrumb .breadcrumb-item a{
		font-size: 14px;
	}
	.our_values_drivers .mobile_content{
		min-height: 180px;
	}
	.our_values_drivers section.main_banner {
		min-height: 180px;
	}
	.key_management_team button.close{
		background-color: rgba(255, 255, 255, 0.92);
		width: 25px;
		height: 25px;
		line-height: 1px;
		font-size: 20px;
	}
	.right-top-0{
		z-index: 999;
	}
	.right-top-0 {
		right: 2px;
		top: 4px;
	}
	.eqlHeight img{
		height: 55px;
	}
	.our_values .homeBxicon{
		height: 80px;
	}
	.without-color .boxHead h3{
		font-size: 22px;
	}
	ul.pdf-list li a{
		vertical-align: middle;
		display: table-cell;
		height: 45px;
	}
	.ballot_content table tr td span{
		width: 80%;
		float: left;
	}
	.ballot_content table tr td img{
		vertical-align: middle;
		display: table-cell;
		height: auto;
		padding-top: 8px;
	}
	.ballot_content table tr td{
		vertical-align: middle;
		display: table-cell;
		height: 40px;
	}
}
