body, html {
	padding: 0px;
	margin: 0px;
    font-family: calibri;
}
h1 {
	font-size: 34pt;
	font-weight: 300;
	font-family: calibri-light;
}
p {
	font-size: 18px;
    font-weight: 300;
	line-height: 26px;
	font-family: calibri-light;
}
a {
	-webkit-transition:  0.5s; /* For Safari 3.1 to 6.0 */
  transition:  0.5s;
}
h4 {
	font-weight: 300;
}.right-30 {
	right: 30px;
}
.right-10 {
	right: 10px;
}
.white-text {
	color: #fff;
}
.gray-text {
	color: #3f3f3f;
}
.blue-text {
	color: #00407c;
}
.orange-bg {
	background-color: #f39d5b; 
}
.green-bg {
	background-color: #02bfb0;
}
.indigo-bg {
	background-color: #858dd1;
}
.blue-bg {
	background-color: #306dab;
}
.skyblue-bg{
	background-color: #6db8ec
}
.border_right {
	border-right: 2px solid rgba(255,255,255,0.3);
}
section .container-fluid, footer .container-fluid {
    padding-left: 5%;
    padding-right: 5%;
}
.relative {
	position: relative;
}
.share_arrow {
	position: relative;
    padding-left: 30px;
    background: #00407b;
    color: #fff !important;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21)

}
.share_arrow::before {
	position: absolute;
	content: '';
	background: url(../images/next-arrow.png) center center no-repeat;
	width: 20px;
	height: 20px;
	left: 5px;
    top: 7px;
	background-size: cover;
}
section.main_banner {
	margin-top: 90px;
	background: #a1aba6 url(../images/main_banner.jpg);
	background-size: cover;
	float: left;
	width: 100%;
	-webkit-box-shadow: 0px 5px 30px 0px rgba(0,64,123,0.08);
	-moz-box-shadow: 0px 5px 30px 0px rgba(0,64,123,0.08);
	box-shadow: 0px 5px 30px 0px rgba(0,64,123,0.08);
}
.banner_content {
	width: 100%;
	max-width: 600px;
	float: right;
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 18%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 23%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 18%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 23%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 18%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 23%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	padding-left: 100px;
}
.banner_content {
	font-size: 20px;
	font-weight: 300;
	color: #3f3f3f;
}
h2.head {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 24pt;
	letter-spacing: 1px;
	font-family: calibri-light;
}
h2.border_head {
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 24pt;
	letter-spacing: 1px;
	position: relative;
	background: #fff;
	z-index: 999;
	font-family: calibri-light;
}
h2.border_head::before {
	position: absolute;
	content: '';
	height: 2px;
	left: 0px;
	width: 100%;
	top: 50%;
	margin-top: -1px;
	background: #e5ecf2;
	z-index: 99;
}
h2.border_head span {
	position: relative;
	z-index: 99999;
	padding-left: 30px;
	padding-right: 30px;
	background: #fff;
	font-family: calibri-light;
}
.homeBxicon {
    float: left;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
    margin-left: 10px;
}
.boxHead {
	border-bottom: 2px solid rgba(255,255,255,0.3);
	margin-bottom: 20px;
}
.no-border {
	border: 0px !important;
}
.white-brdr-btn {
	border: 0.1em solid #fff;
	border-radius: 0px;
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	min-width: 100px;
}

.boxHead h3 {
	height: 120px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 300;
    line-height: 30px;
    font-size: 28px;
	font-family: calibri-light;
}
.compassion .boxHead h3 {
	height: 80px;
	font-family: calibri-light;
}
.boxHead h3.h-80 {
	height: 80px;
	font-family: calibri-light;
}
.box {
	padding: 0px 15px;
	min-height: 340px;
	padding-bottom: 30px;
	position: relative;
}
a.read_more {
	position: absolute;
	bottom: 15px;
	font-weight: 600;
	color: #fff;
}
.sec_04 a.read_more  {
	right: 20px;
}
.sec_02 .box {
	min-height: 300px;
}
.life_at_biocon img {
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.21)
}
.footer-about {
	background: #f2f7fd;
	border-top: 3px solid #f17133;
	border-bottom: 3px solid #00407c;
}
.footer-about ul {
	list-style: none;
	padding-left: 0px;
	margin-bottom: 0px;
}
.footer-about p {
	font-size: 18px;
	line-height: 24px;
	color: #808285;
}
.footer-about ul li {
	padding-bottom: 10px;
}
.footer-about ul li a {
	color: #da6e3d;
	font-size: 18px;
	line-height: 20px;
	padding-left: 20px;
	position: relative;
	
}

.footer-about ul li a::before{
	background: url(../images/icons/next-arrow-red.png) center center no-repeat;
	background-size: cover;
	position: absolute;
	content: '';
	height: 15px;
	width: 15px;
	left: 0px;
	top: 4px;
}
.footer-about ul li a.blue, .footer-ul a.phone, .footer-ul a.email {
	color: #016acf;
}
.footer-ul a.email, .footer-ul a.phone {
	padding-left: 30px;
	position: relative;
	font-family: "calibri-light";
}
.footer-ul a.phone::before {
	position: absolute;
	left: 0px;
	background-image: url(../images/icons/phone-icon.png); 
	background-size: cover;
	content: '';
	height: 25px;
	width: 25px;
}
.footer-bottom-menu {
	color: #016acf;
	margin-top: 10px;
}
.footer-bottom-menu a {
	padding-top: 5px;
	color: #808285;
	padding-left: 5px;
	padding-right: 5px;
}
.footer-ul a.email::before {
	position: absolute;
	left: 0px;
	background-image: url(../images/icons/email-icon.png); 
	background-size: cover;
	content: '';
	height: 25px;
	width: 25px;
}
.footer-about ul li a.blue::before {
	background: url(../images/icons/next-arrow-blue.png) center center no-repeat;
	background-size: cover;
}
.footer-ul {
	list-style: none;
	padding-left: 0px;
	font-size: 18px;
}
.footer-ul li a, footer p {
	color: #808285;
	font-weight: 300;
}
footer {
	border-top: 3px solid #016acf;
}
footer h4 {
	color: #016acf;
	font-size: 20px;
	font-weight: 400;
}
.awardsTab {
	max-width: 1000px;
	margin: auto;
}
.awardsTab .media {
	border: 1px solid #00407b;
}
.awardsTab .media img {
	border: 5px solid #FFF;
}
#mySelect {
	    border: 0px;
    outline: none !important;
    display: table;
    margin: auto;
    font-size: 20px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    padding-right: 30px;
    right: -30px;
    z-index: 99999;
    background: transparent;
    padding-left: 30px;
   
}
.awardsTab form{
	position: relative;
	 padding-right: 30px;
	 display: table;
	 margin: auto;
}
.awardsTab form:after {
	position: absolute;
    right: 2px;
    content: '';
    height: 10px;
    width: 20px;
    background: url(../images/down-arrow.png) center center no-repeat;
    background-size: cover !important;
    top: 11px;

}
.archive_btn {
	border-radius: 0px;
	width: 100%;
	border: 2px solid #00407b;
	padding: 2px 10px;
	font-size: 21px;
	color: #00407b !important;
}
.archive_btn img {
	padding-top: 20px;
	padding-bottom: 20px;
	height: 60px;
	margin-left: 10px;
}
.archive_btn:hover {
	background: #f1f1f1;
}
