

<div id="viewtable" style="overflow-x:auto;width:95%;" class="container">
    {%if isDash %}
    <img src="WidgetFactory/widgets/investor-query-form/thumbnail.png" width="100%"/>
    {%endif%}
    <nav style="cursor: pointer" aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a v-on:click="prev_pg()" class="page-link" :disabled="index==0" >Previous</a></li>
            <li v-for=" n in max_pages+1" :key="n" :class="{active:n-1==index}" class="page-item"><a class="page-link" v-on:click="setIndex(n-1)">${n}</a></li>
            <li class="page-item"><a v-on:click="nxt_pg()" class="page-link" :disabled="index==max_pages" >Next</a></li>
        </ul>
    </nav>
    <table  class="table">
        <thead>
        <tr>
            <th scope="col">DATE</th>
            <th scope="col">NAME</th>
            <th scope="col">NUMBER</th>
            <th scope="col">EMAIL</th>
            <th scope="col">SHAREHOLDER</th>
            <th scope="col">DEMAT AC</th>
            <th scope="col">PAN</th>
            <th scope="col">ENQUIRY NATURE</th>
            <th scope="col">QUERY</th>
            <th scope="col">PAGE</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="row in buffer[index]">
            <th scope="row">${row.date|datedmy}</th>
            <td>${row.name}</td>
            <td>${row.tel}</td>
            <td>${row.email}</td>
            <td>${row.shareholder==1?'Yes':'No'}</td>
            <td>${row.dematac}</td>
            <td>${row.PAN}</td>
            <td>${row.enq_nature}</td>
            <td>${row.query}</td>
            {%if isDash %}
            <td>${row.page_heading}</td>
            {%endif%}
        </tr>

        </tbody>
    </table>
</div>
<script>

    Vue.config.delimiters = ['${', '}'];
    var viewtable = new Vue({
        el: "#viewtable",
        delimiters: ['${', '}'],
        data: {
            index: 0,
            buffer: [],
            max_pages:{{max_pages}},


        },
        created: function () {
            this.buffer[0] = {{data | json_encode | raw}};
            this.debounced_fetch= _.debounce(this.fetch_data,500);
        },
        filters: {
            datedmy:function(value){
                d= new Date(value);
                return d.getDate()+'/'+d.getMonth()+'/'+d.getFullYear();

            }
        },
        computed:{
            current_output:function(){
              return this.buffer[this.index];
            },

        },
        watch:{
            index:function(newIndex,oldIndex){
                this.debounced_fetch();

            }
        },
        methods:{
            nxt_pg:function(){
                if(this.index<this.max_pages){
                    this.index++;
                    //this.fetch_data();
                }

            },
            prev_pg:function(){
                if(this.index>0){
                    this.index--;
                    //this.fetch_data();
                }
            },
            fetch_data:function(){
                if(this.buffer[this.index]==undefined){
                    url="?pid=0&tid=118&tpos=0&isAjax=true&verb=process";

                   axios.get(url,{params:{page:this.index}}).then((res)=>{
                       this.buffer[this.index]=res['data']['data'];
                        var hotpotato=this.index;
                        this.index=hotpotato;
                        this.$forceUpdate();

                   });
                }
            },
            setIndex:function(n){
                this.index=n;
                //this.fetch_data();
            },
        }
    });
</script>
