.account-pages {
    background: #2b3d51 !important;
}
.wrapper-page .card-box {
    border: none !important;
}
.wrapper-page .account-bg {
    padding: 0px !important;
}

a.collapse-expand-link .mycollapsefabtn::before{
    content:'\f196';
}
a[aria-expanded="true"].collapse-expand-link .mycollapsefabtn::before{
    content:'\f147';
}
