{% if data  %}
<section class="pt-3 pt-md-3 mt-3 mt-md-3 mt-lg-5 heading-with-content">
    <div class="container-fluid pl-md-5 pr-md-5 text-center">
        <h2 class="border_head blue-text mb-4"><span>Corporate Structure</span></h2>
        <div class="clearfix"></div>
        <buttton class="btn btn-default turquoise white-text border-radius-0 col-md-3 mb-4 "><h4 class="mb-0">Biocon Limited</h4></buttton>
        <img src="{{ attach_uri|raw }}{{ data.banner_img }}" class="img-fluid mb-4">
        {% if data.link_dest  %}
        <a target="_blank" href="{{ attach_uri|raw}}{{data.link_dest}}" class="border border-navy-blue p-2 pl-4 pr-4 view-icons color-navy-blue d-inline-block">Download PDF <img src="images/icons/next-arrow-dark-blue.png" class="img-fluid ml-4" width="25px"></a>
        {% endif %}
    </div>
</section>
{% endif %}