<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js" type="application/javascript" defer></script>
<div id="xxfrm">
<div class="container">
<div class="row">
<div class="col-md-12 mb-3">
    {% if import_btn %}
    <div class="input-group mb-3">

            <button class="btn btn-primary" v-on:click="doImport()" type="submit">Import Default
                Data
            </button>

    </div>
    {% endif %}
    <ul class="nav nav-tabs" style="cursor:pointer; ">
        <li class="nav-item">
            <a class="nav-link" :class="{'active':currentTab=='add'}" v-on:click="setTab('add')">Add
                Presentations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" :class="{'active':currentTab=='edit'}" v-on:click="setTab('edit')">Edit
                Presentations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" :class="{'active':currentTab=='options'}" v-on:click="setTab('options')">Widget
                Options</a>
        </li>
    </ul>
</div>
<div id="addTab" class="row  mx-auto" v-if="currentTab=='add'">
    <form id="sendform" name="sendform" method="POST" enctype="multipart/form-data"
          action="{{ actionUrl|raw }}"
          style="display: contents;">
        <div class="col-md-4" style="border:1px dotted;" v-for="(item,index) in fieldsets">
            <div class="form-group">
                <label for="disclosure_title">Title</label>
                <input required="required" type="text" v-model="item.title" :name="'title'+ismany(index)" class="form-control"
                       :id="'disclosure_title_'+index"
                       aria-describedby="emailHelp" placeholder="Enter Presentation Title">
            </div>
            <div class="form-group">
                <label for="presentation_date">Presentation Date</label>
                <input required="required" type="date" v-model="item.date" :name="'date'+ismany(index)" class="form-control"
                       :id="'presentation_date_'+index"
                       aria-describedby="emailHelp" placeholder="Enter Presentation Date">
            </div>
            <div class="form-group">
                <label for="presentation_file">Presentation File</label>
                <input required="required" type="file" :name="'file'+ismany(index)" ref="file" class="form-control"
                       :id="'presentation_file_'+index"
                       v-on:change="addFile($event,index)" aria-describedby="emailHelp"
                       placeholder="Select File FileTitle">
            </div>
            <small style="color:red;cursor: pointer;" class="form-text text-muted"
                   v-if="ismany()=='[]'" v-on:click="pop(index)">Delete
            </small>
        </div>
        <input type="hidden" name="action" value="insert">
    </form>
    <div class="col-md-12 col-lg-12">
        <p class="text-muted m-b-20 font-13 pull-right">
            (* All fields are mandatory)
        </p>
        <button v-if="fieldsets.length<6" v-on:click="addPresentationEntry" id="add_more_field" style=""
                class="btn btn-info">Add More Presentations
        </button>
        <button v-on:click="send" class="btn btn-info">Submit
        </button>
    </div>
</div>
<div id="editTab" class="row mx-auto" v-if="currentTab=='edit'">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h4>Current Presentations</h4>

            <div class="mx-auto" style="width: 100%">

                <!-- Table -->
                <div class="input-group mb-3">
                    <select id="annual-report-year" class="custom-select"
                            v-model="current_year">
                        {% for year in fyears %}
                            <option value="{{ year }}">FY {{ year }}</option>
                        {% endfor %}
                    </select>
                </div>

            </div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Title</th>
                    <th scope="col">Attachment</th>
                    <th scope="col">Manage</th>
                </tr>
                </thead>
                <tbody>
                {% for presentation in data %}
                    <tr v-if="current_year=={{ presentation.f_year }}">
                        <td>{{ presentation.date }}</td>
                        <td>{{ presentation.title }}</td>
                        <td>
                            <a target="_blank" href="{{ attach_path }}/{{ presentation.attachment }}">
                                <p><i class="fa fa-download"></i></p>
                            </a>
                        </td>
                        <td style="cursor:pointer;">
                            <a v-on:click="prepUpdate({{ presentation.id }},'{{ presentation.jsdate }}','{{ presentation.title }}','{{ presentation.linkTitle }}','{{ presentation.linkDest }}','{{ presentation.attachment }}')">Update</a>
                            |
                            <a v-on:click="prepDelete({{ presentation.id }})">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>
<div id="optionsTab" class="row mx-auto" v-if="currentTab=='options'">
    <form id="optionform">
        <div class="form-group">
            <label for="disclosure_title">Button Text</label>
            <input type="text" :name="'button_title'" class="form-control"
                   v-model="widget_opts.button_title"
                   placeholder="Enter button title">
        </div>
        <div class="form-group">
            <label for="disclosure_title">Button URL</label>
            <input type="text" :name="'button_url'" class="form-control"
                   v-model="widget_opts.button_url"
                   placeholder="Enter button link URL">
        </div>
        <div class="form-group">
            <label for="presentation_file">IPO PDF</label>
            <a target="_blank"
               :href="'{{ attach_path }}/'+widget_opts.ipo_pdf">
                <p><i class="fa fa-download"></i> Previous file:
                    ${widget_opts.ipo_pdf}</p>
            </a>
            <input type="file" :name="'ipo_pdf'" ref="file" class="form-control"
                   id="presentation_file"
                   placeholder="Select File ">
        </div>
    </form>
    <div class="col-md-12 col-lg-12">
        <button v-on:click="sendOpts" class="btn btn-info">Submit
        </button>
    </div>
</div>
<div id="modal_block">
    <div id="updateModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="updateform" name="updateform" method="POST"
                          enctype="multipart/form-data"
                          action="{{ actionUrl|raw }}">
                        <div class="" style="border:1px dotted;">
                            <input type="hidden" name="did" v-model="currentitem.id">

                            <div class="form-group">
                                <label for="presentation_title">Title</label>
                                <input type="text" v-model="currentitem.title" :name="'title'"
                                       class="form-control"

                                       aria-describedby="emailHelp"
                                       placeholder="Enter Presentation Title">
                            </div>
                            <div class="form-group">
                                <label for="presentation_date">Presentation Date</label>
                                <input type="date" v-model="currentitem.date" :name="'date'"
                                       class="form-control"

                                       aria-describedby="emailHelp"
                                       placeholder="Enter Presentation Date">
                            </div>
                            <div class="form-group">
                                <label for="presentation_file">Presentation File</label>
                                <a target="_blank"
                                   :href="'{{ attach_path }}/'+currentitem.attachment">
                                    <p><i class="fa fa-download"></i> Previous file:
                                        ${currentitem.attachment}</p>
                                </a>
                                <input type="file" :name="'file'" ref="file" class="form-control"
                                       aria-describedby="emailHelp"
                                       :placeholder="currentitem.attachment">
                            </div>
                        </div>
                        <input type="hidden" name="action" value="update">

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                    </button>
                    <button type="button" v-on:click="doUpdate()" class="btn btn-primary">Update
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="deletemodal" class="modal" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    Delete Presentation Entry?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                    </button>
                    <button type="button" v-on:click="doDelete()" class="btn btn-danger">Delete
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div id="statusModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Message</h5>
                </div>
                <div class="modal-body">
                    <p v-html="status"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" v-on:click="refresh()" class="btn btn-success"
                            data-dismiss="modal">OK
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
</div>
</div>
<script defer>


    Vue.config.delimiters = ['${', '}'];
    var viewtable = new Vue({
                el: '#xxfrm',
                delimiters: ['${', '}'],
                data: {
                    fieldsets: [],
                    counter: 0,
                    formDestination: "{{actionUrl|raw}}&isAjax=true",
                    current_quart: 1,
                    current_year: new Date().getFullYear(),
                    currentitem: {},
                    deletedisc: '',
                    status: '',
                    currentTab: 'add',
                    widget_opts:{{ opts|json_encode|raw }},
                },
                created: function () {

                    this.addPresentationEntry();

                },
                methods: {
                    setTab: function (tabname) {
                        this.currentTab = tabname;

                    },
                    addPresentationEntry: function () {
                        this.fieldsets.push({ date: '', title: '', file: ''});
                    },
                    addFile: function (event, key) {
                        this.fieldsets[key].file = event.target.files[0];
                        console.log(this.fieldsets[key].file);

                    },
                    pop: function (key) {
                        this.fieldsets.splice(key, 1);
                    },
                    send: function () {
                        var formdata = '';
                        var options = {
                            headers: {'Content-Type': 'multipart/mixed'},
                        };
                        jQuery('#sendform').validate();
                        if(jQuery('#sendform').valid()){
                            for (form in jQuery("form")) {
                                if (jQuery("form")[form].id == "sendform") {
                                    formdata = new FormData(jQuery("form")[form]);
                                    break;

                                }
                            }


                            axios.post(this.formDestination, formdata, options)
                                    .then(function (response) {
                                        console.log(response);
                                        viewtable.status = response.data.message;
                                        $('div#statusModal').modal('show');
                                    })
                                    .catch(function (error) {
                                        console.log(error);
                                    });
                        }



                    },
                    sendOpts: function () {
                        var formdata = '';
                        var options = {
                            headers: {'Content-Type': 'multipart/mixed'},
                        };
                        for (form in jQuery("form")) {
                            if (jQuery("form")[form].id == "optionform") {
                                formdata = new FormData(jQuery("form")[form]);
                                break;

                            }
                        }

                        formdata.append('action', 'options');


                        axios.post(this.formDestination, formdata, options)
                                .then(function (response) {
                                    console.log(response);
                                    viewtable.status = response.data.message;
                                    $('#statusModal').modal('show');
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });


                    },

                    refresh: function () {
                        location.reload();
                    },
                    ismany: function (index='') {
                        if (this.fieldsets.length > 1) {
                            return "[" + index + "]";
                        }
                        return '';

                    },

                    prepUpdate: function (id, date, title, linkTitle, linkDest, attach_name) {
                        this.currentitem = {id: id, date: date, title: title, linkTitle: linkTitle, linkDest: linkDest, attachment: attach_name};
                        $('#updateModal').modal('show');

                    },
                    prepDelete: function (id) {
                        this.deletedisc = id;
                        $('#deletemodal').modal('show');
                    },
                    doUpdate: function () {

                        var formdata = '';
                        var options = {
                            headers: {'Content-Type': 'multipart/mixed'},
                        };
                        for (form in jQuery("form")) {
                            if (jQuery("form")[form].id == "updateform") {
                                console.log('updateform found!');
                                formdata = new FormData(jQuery("form")[form]);
                                break;

                            }
                        }

                        axios.post(this.formDestination, formdata, options)
                                .then(function (response) {
                                    alert('success!');
                                    location.reload();
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });


                    },
                    doDelete: function () {
                        var options = {
                            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                        };
                        data = {did: this.deletedisc, action: 'delete'};
                        formdata = new FormData();
                        for (x in data) {
                            formdata.append(x, data[x]);
                        }


                        axios.post(this.formDestination, formdata, options)
                                .then(function (response) {
                                    alert('success!');
                                    location.reload();
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });

                    },
                    doImport: function () {
                        var options = {
                            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                        };
                        data = {action: 'getdummy'};
                        formdata = new FormData();
                        for (x in data) {
                            formdata.append(x, data[x]);
                        }


                        axios.post(this.formDestination, formdata, options)
                                .then(function (response) {
                                    alert('success!');
                                    location.reload();
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });

                    }


                }


            })
            ;
</script>