<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="https://rawgit.com/vuejs/vue/dev/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

<section id="presentation_{{tpos}}" class="pt-3 pt-md-3 mt-3 mt-md-3 mt-lg-5 heading-with-content">
    <div class="container-fluid pl-md-5 pr-md-5">
        <h2 class="text-center color-navy-blue">Investor Presentations</h2>
        <div class="text-center">
            <form class="mt-2 mb-2 ">
                <select id="annual-report-year" :change="setURLParams()" v-model="current_year" class="color-navy-blue custom-select1 border-navy-blue">
                    {% for year in fyears%}
                    <option value="{{year}}">FY {{year}}</option>
                    {% endfor %}
                </select>

            </form>
        </div>
        {%for presentation in data %}
        <span v-if="current_year=={{presentation.f_year}}">


        <div class="text-center mt-4 mb-4 mt-md-5 mb-md-5 ">
            <h5>
                <a target="_blank" href="{{attach_path}}{{presentation.attachment}}" class="color-royal-blue">
                <img src="images/icons/ppt-icon.png" class="img-fluid mr-3"> {{presentation.title}}
                </a>
            </h5>
        </div>
        </span>
        {%endfor %}
        <div class="col-12 col-md-6 offset-md-3 text-center">
            <div class="border border-navy-blue p-3  mb-4">
                <h4 class="mb-0 color-dark-gray">
                    <a target="_blank" href="{{attach_path}}{{widget_opts.ipo_pdf}}">
                    IPO
                    </a>
                </h4>
            </div>
            <a target="_blank" href="{{widget_opts.button_url}}">
                <button  class="btn btn-default royal-blue white-text border-radius-0 col-12 p-3">
                    <h4 class="mb-0">{{widget_opts.button_title}}</h4>
                </button>
            </a>
        </div>

    </div>
</section>


<script>
if(allRouter==undefined){
    var allRouter=new VueRouter();
}
    var reload_count=0;
    var inv_pres_{{tpos}} =new Vue({
        el:"#presentation_{{tpos}}",
        delimiters: ['${', '}'],
        data:{

            current_year:new Date().getFullYear(),
        },
        router:allRouter,
        created:function(){
           
            //this.current_year=this.$route.query.year==undefined?this.current_year:this.$route.query.year;           

          this.readURLParams();

        },
        methods:{
            setquart: function (quart) {
                this.current_quart=quart;
                
            },            
            pushtouri:function (){
                
                allRouter.push({query:{
                    year:this.current_year
                }});
            },
            readURLParams: function () {                
                var url  = new URL(document.location);
                var path = url.pathname.split('&'); 
                console.log(path);
                if(path.length>1){
                    for(x in path){
                        if(path[x].match(/^\d{4}/)!=null){
                            
                            var par_yr=path[x].split('%20-%20');
                            console.log('INv_YR:'+par_yr[0]);
                            this.current_year=+par_yr[0] ;
                            
                        }                       
                    }

                }

            },
            setURLParams: function () {
                
                var data = [this.current_year];
                var url  = new URL(document.location);
                var path = url.pathname.split('&');                 
                
                if(path.length<2){
                    window.history.pushState({}, "", url.pathname+'&' + data.join('&'));
                }else{                    
                    window.history.pushState({}, "", path[0]+'&' + data.join('&'));
                }
                if(reload_count>0){
                    console.log(reload_count);
                    reload_count=0;
                    this.$destroy();
                    location.reload(true);  
                }else{
                   reload_count++;  
                }                   

            }

        }
    });
</script>
