<div id="viewarea">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" :class="{active:currentTab=='contacts'}" v-on:click="setTab('contacts')">Contact
                Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" :class="{active:currentTab=='subscribers'}"
                v-on:click="setTab('subscribers')">Subscribers</a>
        </li>
    </ul>
    <div v-if="currentTab=='contacts'" id="contacts">
        <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Action
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" v-on:click="addContactBlock()">Add Contact</a>
                <a class="dropdown-item" v-on:click="updateContacts()">Update</a>
                {%if import_btn%}
                <a class="dropdown-item" v-on:click="importContacts()">Import Default Data</a>
                {%endif%}
            </div>
        </div>
        <div class="card-group">
            <div v-if="isempty(contactData)" class="card">
                <h5 class="card-title">No contacts created!</h5>
                <p class="card-text">Import or create some from the menu.</p>
            </div>

            <div v-for="(contact,index) in contactData " class="card">

                <div class="card-body">
                    <h5 class="card-title">
                        <div class="form-group">
                            <label for="heading-${index}">Heading</label>
                            <input type="text" class="form-control" id="heading-${index}" v-model="contact.heading"
                                placeholder="Heading">
                        </div>
                    </h5>


                    <p class="card-text">
                        <div class="form-group">
                            <label for="text-${index}">Text Description</label>
                            <textarea class="form-control" id="text-${index}" v-model="contact.text"
                                placeholder="Enter Text Block"></textarea>
                        </div>
                    </p>
                    <p class="card-text">
                        <div class="form-group">
                            <label for="name-${index}">Name</label>
                            <input type="text" class="form-control" id="name-${index}" v-model="contact.name"
                                placeholder="Enter Name">
                        </div>
                    </p>
                    <p class="card-text">
                        <div class="form-group">
                            <label for="title-${index}">Title</label>
                            <input type="text" class="form-control" id="title-${index}" v-model="contact.title"
                                placeholder="Enter Work Title/Salutation">
                        </div>
                    </p>
                    <p class="card-text">
                        <div class="form-group">
                            <label for="address-${index}">Address</label>
                            <textarea class="form-control" id="address-${index}" v-model="contact.address"
                                placeholder="Enter Address"></textarea>
                        </div>

                    </p>
                    <p class="card-text">
                        <div class="form-group">
                            <label for="phone-${index}">Telephone</label>
                            <input type="tel" class="form-control" id="phone-${index}" v-model="contact.phone"
                                placeholder="Enter Phone Number">
                        </div>
                    </p>

                    <p class="card-text">
                        <div class="form-group">
                            <label for="email-${index}">email</label>
                            <input type="email" class="form-control" id="email-${index}" v-model="contact.email"
                                placeholder="email">
                        </div>
                    </p>
                    <p class="card-text"><small class="text-muted danger"><button v-on:click="popContact(index)"
                                class="btn btn-danger">delete</button></small></p>
                </div>
            </div>
        </div>

    </div>
    <div v-if="currentTab=='subscribers'" id="subscribers">
        <nav style="cursor: pointer" aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a v-on:click="prev_pg()" class="page-link" :disabled="index==0">Previous</a></li>
                <li v-for=" n in max_pages+1" :key="n" :class="{active:n-1==index}" class="page-item"><a
                        class="page-link" v-on:click="setIndex(n-1)">${n}</a></li>
                <li class="page-item"><a v-on:click="nxt_pg()" class="page-link" :disabled="index==max_pages">Next</a>
                </li>
            </ul>
        </nav>
        <table id="viewtable" class="table">
            <thead>
                <tr>
                    <th scope="col">DATE</th>
                    <th scope="col">NAME</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">LISTS</th>
                    {%if import_btn!=true%}
                    <th scope="col">PAGE</th>
                    {%endif%}
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in buffer[index]">
                    <th scope="row">${row.added_date|datedmy}</th>
                    <td>${row.name}</td>
                    <td>${row.email}</td>
                    <td>${row.alert_types}</td>
                    {%if import_btn!=true%}
                    <td>${row.page_name}</td>
                    {%endif%}
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row"></div>
<script>
    Vue.config.delimiters = ['${', '}'];
    var viewtable = new Vue({
        el: "#viewarea",
        delimiters: ['${', '}'],
        data: {
            currentTab: 'contacts',
            contactData: {{ contactdata| json_encode | raw}},
            formDestination: '{{endpoint|raw}}' + '&isAjax=true',
            //mailerlist params
            index: 0,
            buffer: [],
            max_pages: {{ max_pages }},


        },
        created: function () {
            this.buffer[0] = {{ data | json_encode | raw }};
            this.debounced_fetch = _.debounce(this.fetch_data, 500);
        },
        watch: {
            index: function(newIndex, oldIndex) {
                this.fetch_data();
            }
        },
        filters: {
            datedmy: function(value) {
                d = new Date(value);
                return d.getDate() + '/' + d.getMonth() + '/' + d.getFullYear();
            }
        },
        methods: {
                setTab: function (name) {
                    this.currentTab = name;

                },
                isempty: function(iterable) {
                    if (iterable == false || iterable == [] || iterable == undefined) {
                        return true;
                    }
                    return false;
                },
                updateContacts: function () {

                    axios.post(this.formDestination, {
                        action: 'update_contacts',
                        data: this.contactData
                    })
                        .then(function (response) {
                            alert(response.data['message']);
                            location.reload();
                        })
                        .catch(function (error) {
                            console.log(error);
                        });

                },
                {%if import_btn %}
                importContacts: function() {
                    axios.post(this.formDestination, {
                        action: 'import_contacts',
                        data: this.contactData
                    })
                        .then(function (response) {
                            alert(response.data['message']);
                            location.reload();
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
                {% endif %}
                addContactBlock: function () {
                    var piece = {
                        heading: "",
                        text: '',
                        name: '',
                        title: '',
                        address: '',
                        phone: '',
                        email: '',
                    };
                    if (this.contactData) {
                        this.contactData.push(piece)

                    } else {
                        this.contactData = []
                        this.contactData.push(piece)
                    }

                },
                popContact: function (index) {
                    this.contactData.splice(index, 1);

                },

                //subscriber list functions
                nxt_pg:function(){
                        if(this.index<this.max_pages){
                            this.index++;
                            //this.fetch_data();
                        }

                    },
                prev_pg:function(){
                    if(this.index>0){
                        this.index--;
                        //this.fetch_data();
                    }
                },
                fetch_data: function() {
                    if (this.buffer[this.index] == undefined) {

                        axios.post(this.formDestination, {
                            action: 'fetch_subscriber_pg',
                            data: this.index
                        }).then((response)=> {
                            console.log(this.contactData);
                                this.buffer[this.index]=response['data']['data'];                       
                                this.$forceUpdate();
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                    }
                },
                setIndex:function(n){
                    this.index=n;
                    //this.fetch_data();
                },

        }
    });
</script>