<span id="feature-block-two-{{tpos}}">
<section class="pt-3 pt-md-3 mt-3 mt-md-3 mt-lg-5 heading-with-content">
            <div class="container-fluid pl-md-5 pr-md-5">
               <h2 class="border_head blue-text"><span>Corporate Governance</span></h2>
                    <p>Biocon's management comprises of the brightest minds in the biopharmaceutical sector committed towards high-quality affordable care, with a firm commitment to ethics, values, and to meet stakeholders’ expectations.</p>
                 <div class="row mid-section">
                    <div class="col-12 col-lg-6 white-text mt-4">
                        <div class="col-md-6 col-lg-6 float-left p-0">
                            <div class="box turquoise pt-4 pt-sm-5 min-hgt-300 d-flex flex-wrap align-content-center">
                                <div class="boxHead text-center no-border m-auto">
                                    <img src="images/icons/managment.png" class="img-fluid" width="80">
                                    <ul class="aftericon text-left mt-3 col-12 col-lg-10 ml-auto mr-auto">
                                        <li><a href="#">Management Team</a></li>
                                        <li><a href="#">Board of Directors</a></li>
                                    </ul>    

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 float-left p-0 min-hgt-300 d-none d-md-block k" style="background:url(images/management-team.jpg) no-repeat;">
                            
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-12 col-lg-6 white-text mt-4">
                        <div class=" col-md-6 col-lg-6 float-left p-0">
                            <div class="box dodger-blue pt-4 pt-sm-5 min-hgt-300 d-flex flex-wrap align-content-center">
                                <div class="boxHead text-center no-border  m-auto">
                                    <img src="images/icons/board-commitees.png" class="img-fluid" width="80">
                                    <h3 class="h-80 mb-3 mt-3">Board Committees</h3>
                                    <a href="#" class="text-white text-bold"> <img src="images/icons/next-arrow.png" class="img-fluid"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 float-left p-0 min-hgt-300 d-none d-md-block" style="background:url(images/board-committees.jpg) no-repeat;">
                            
                        </div>
                        <div class="clearfix"></div>
                    </div>
                     <div class="clearfix"></div> 
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 white-text mt-4">
                        <div class=" col-md-6 col-lg-6 float-left p-0">
                            <div class="box royal-blue min-hgt-300 hght d-flex flex-wrap align-content-center">
                                <div class="boxHead">
                                    <h3>Corporate Structure </h3>
                                </div>
                                <div class="boxHead no-border m-auto">
                                    <p>Biocon Limited is composed of several entities, subsidiaries, and alliances. The structure outlines how we have balanced our investments strategically to produce results.</p>
                                </div>
                                <a href="#" class="read_more">Know More</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 float-left p-0 min-hgt-300 hght d-none d-md-block" style="background:url(images/corporate-structure.jpg) no-repeat;background-size:cover;">
                            
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 white-text mt-4 ">
                        <div class=" col-md-6 col-lg-6 float-left p-0">
                            <div class="box turquoise min-hgt-300 hght d-flex flex-wrap align-content-center">
                                <div class="boxHead">
                                    <h3>Policies &amp; Documents</h3>
                                </div>
                                <div class="boxHead no-border m-auto">
                                    <p>The policies has a list of system of principles that guide our management team and board members in decision making. Here are a list of policy documents.</p>
                                </div>
                                <a href="#" class="read_more">Know More</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 float-left p-0 min-hgt-300 hght d-none d-md-block" style="background:url(images/polices-document.jpg) no-repeat;background-size:cover;">
                            
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                 
                </div>
            </div>                    
              
            
            
          </section>
</span>


<script defer>

    (function ($) {
        $(document).ready(function () {
            $("#feature-block-two-{{tpos}}").on('submit', function () {
                event.preventDefault();
                formdata = new FormData();
                obj = {};
                obj = $(this).serializeArray();
                console.log(obj);


                url = "main-control/wf-datacapturer.php?wid={{wid}}&pid={{pid}}&tpos={{tpos}}";


                if ($(this).valid()) {
                    $.post(url, obj).done(function () {
                        alert('Form Submitted. Look out for alerts in the future.');
                    });

                }
            });
        });
    })(jQuery);

</script>