<section class="pt-3 pt-md-3 mt-3 mt-md-3 mt-lg-4">
    <div class="container-fluid pl-md-5 pr-md-5">
        <h2 class="border_head blue-text"><span>Investor Contacts &amp; E-Mail Alerts</span></h2>
        {%set counter = 0%}

        <div class="row">
            {%for contact in contactdata%}

            <div class="col-12 col-md-4 compliance_share">
                <div class="border border-royal-blue mb-4">
                    <div class="royal-blue white-text p-3">
                        <h4 class="m-0 fnt-light">{{contact.heading}}</h4>
                    </div>
                    <div class="p-3 min-height-200">
                        <p class="m-0">
                            {{contact.text|raw}}
                        </p>

                        <p class="m-0 ">
                            <strong>{{contact.name}}</strong>
                            <span class="d-block">{{contact.title}}</span>

                        <span class="d-block">
                            {{contact.address|raw}}
                        </span>
                            {%if contact.phone!=''%}<span class="d-block">Tel: <a href="tel:{{contact.phone}}"
                                                                                  class="color-royal-blue">{{contact.phone}}</a></span>{%endif%}
                            {%if contact.email!=''%}<span class="d-block">Email: <a href="mailto:{{contact.email}}"
                                                                                    class="color-royal-blue">{{contact.email}}</a></span>{%endif%}
                        </p>
                    </div>
                </div>
            </div>
            {%if counter == 1%}
            <div class="col-12 col-md-4">
                <div class="email-alert white-text dark-orange min-height-200 mb-4">
                    <h5 class="mb-2 mt-2 text-center text-uppercase fnt-light">email alert</h5>

                    <div class="">
                        <h5 class="pl-3 mb-3">Alert Type</h5>

                        <div class="">
                            <form id="ic-email-alert-form-{{tpos}}" class="col-12">
                                <div class="row">
                                    <div class="col-12 col-md-6 checkbox mb-2">
                                        <label class="custom-checkbox">Quarterly Results
                                            <input name="alert_types[]" value="quarterly_results" type="checkbox">
                                            <span class="checkmark"></span></label>
                                    </div>
                                    <div class="col-12 col-md-6 checkbox mb-2">
                                        <label class="custom-checkbox">Presentation
                                            <input name="alert_types[]" value="presentation" type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="col-12 col-md-6 checkbox mb-2">
                                        <label class="custom-checkbox">News Alert
                                            <input name="alert_types[]" value="news" type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="col-12 col-md-6 checkbox mb-2">
                                        <label class="custom-checkbox">Annual Report
                                            <input name="alert_types[]" value="annual_report" type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm form-group  mt-2">
                                        <input type="email"
                                               name="email"
                                               class="form-control bg-none border border-white border-radius-0"
                                               id="email"
                                               placeholder="Email*"
											   required>
                                    </div>
                                    <div class="col-sm form-group mt-2">
                                        <input type="text"
                                               name="name"
                                               class="form-control bg-none border border-white border-radius-0"
                                               id="name"
                                               placeholder="Name*"
											   required>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-8 form-group"><img
                                            src="http://104.210.13.228/biocon/images/Google-Search-CAPTCHA-Verification.gif"
                                            class="img-fluid">
                                        <a href="#" class="white-text fnt-11px"><u>Unsubscribe from Investor Relations
                                            email alerts.</u></a>
                                    </div>
                                    <div class="col-12 col-md-4 text-right pt-4">
                                        <button type="submit"
                                                class="btn btn-default border border-white white-text border-radius-0">
                                            Subscribe
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {%endif%}
            {%set counter=counter+1%}
            {%endfor%}
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"/></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js" type="application/javascript" ></script>
<script type="application/javascript" defer>
    (function ($) {
        $(document).ready(function () {
            $("#ic-email-alert-form-{{tpos}}").on('submit', function () {
                event.preventDefault();
                formdata = new FormData();
                obj = {};
                obj = $(this).serializeArray();
                console.log(obj);


                url = "main-control/wf-datacapturer.php?wid={{wid}}&pid={{pid}}&tpos={{tpos}}";


                if ($(this).valid()) {
                    $.post(url, obj).done(function () {
                        alert('Thank you for subscribing to Investor Relations email alerts!');
                        $('#ic-email-alert-form-{{tpos}}').find("input[type=text],input[type=tel],input[type=email],textarea").val("");
                        $('#ic-email-alert-form-{{tpos}}').find("input[type=checkbox]").prop('checked', false);
                    });

                }
            });

        });
    })(jQuery);

</script>