<h1>New Subscriber added!</h1>
<table>
    <tr>
        <td> <b>Name:</b> </td>
        <td>{{data.name}}</td>
    </tr>
    <tr>
        <td> <b>Email:</b>  </td>
        <td>{{data.email}}</td>
    </tr>
    <tr>
        <td> <b>Lists/Alert Types:</b> </td>
        <td>{{data.alert_types}}</td>
    </tr>
</table>


 


