<section class="pt-3 pt-md-3 mt-3 mt-md-3 mt-lg-4">
    <div class="container-fluid pl-md-5 pr-md-5">
        <h2 class="border_head blue-text"><span>Investor Contacts &amp; E-Mail Alerts</span></h2>
        {%set counter = 0%}

        <div class="row">
            {%for contact in contactdata%}

            <div class="col-12 col-md-4">
                <div class="border border-royal-blue mb-4">
                    <div class="royal-blue white-text p-3">
                        <h4 class="m-0 fnt-light">{{contact.heading}}</h4>
                    </div>
                    <div class="p-3 min-height-200">
                        <p class="m-0">
                            {{contact.text|raw}}
                        </p>

                        <p class="m-0 ">
                            <strong>{{contact.name}}</strong>
                            <span class="d-block">{{contact.title}}</span>

                            <span class="d-block">
                                {{contact.address|raw}}
                            </span>
                            {%if contact.phone!=''%}<span class="d-block">Tel: <a href="tel:{{contact.phone}}"
                                    class="color-royal-blue">{{contact.phone}}</a></span>{%endif%}
                            {%if contact.email!=''%}<span class="d-block">Email: <a href="mailto:{{contact.email}}"
                                    class="color-royal-blue">{{contact.email}}</a></span>{%endif%}
                        </p>
                    </div>
                </div>
            </div>
            {%if counter == 1%}
            <div class="col-12 col-md-4">
                <div class="email-alert white-text dark-orange min-height-200 mb-4">
                    <h5 class="mb-2 mt-2 text-center text-uppercase fnt-light">email alert</h5>

                    <div class="">
                        <h5 class="pl-3 mb-3">Alert Type</h5>

                        <div class="">
                            <form id="ic-email-alert-form-{{tpos}}" class="col-12">
                                <div class="row">
                                    <div class="col-12 col-md-6 checkbox mb-2">
                                        <label class="custom-checkbox">Quarterly Results
                                            <input name="alert_types[]" value="quarterly_results" type="checkbox">
                                            <span class="checkmark"></span></label>
                                    </div>
                                    <div class="col-12 col-md-6 checkbox mb-2">
                                        <label class="custom-checkbox">Presentation
                                            <input name="alert_types[]" value="presentation" type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="col-12 col-md-6 checkbox mb-2">
                                        <label class="custom-checkbox">News Alert
                                            <input name="alert_types[]" value="news" type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="col-12 col-md-6 checkbox mb-2">
                                        <label class="custom-checkbox">Annual Report
                                            <input name="alert_types[]" value="annual_report" type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm form-group  mt-2">
                                        <input required type="email" name="email"
                                            class="form-control bg-none border border-white border-radius-0" id="email"
                                            placeholder="Email">
                                    </div>
                                    <div class="col-sm form-group mt-2">
                                        <input type="text" name="name"
                                            class="form-control bg-none border border-white border-radius-0" id="name"
                                            placeholder="Name">
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-8 form-group">
                                        <div class="g-recaptcha" data-sitekey="{{recaptchaSKey}}"></div>

                                        <a data-focus="true" data-toggle="modal" data-target="#ic-unsubscribe-modal-{{tpos}}" class="white-text fnt-11px"><u>Unsubscribe from Investor Relations
                                                email alerts.</u></a>
                                    </div>
                                    <div class="col-12 col-md-4 text-right pt-4">
                                        <button type="submit"
                                            class="btn btn-default border border-white white-text border-radius-0">
                                            Subscribe
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {%endif%}
            {%set counter=counter+1%}
            {%endfor%}
        </div>

    </div>
    <div >
        <div id="ic-unsubscribe-modal-{{tpos}}" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Unsubscribe from Biocon Alerts?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="ic-email-alert-unsub-form-{{tpos}}" class="col-12">
                            <div class="col-sm form-group  mt-2">
                                <input required type="email" name="email"
                                    class="form-control bg-none border border-radius-0" id="email"
                                    placeholder="Enter your email.">
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="ic-unsub-btn-{{tpos}}"  class="btn btn-primary">Unsubscribe</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"
    type="application/javascript"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<script defer>

    (function ($) {
        $(document).ready(function () {
            $("#ic-email-alert-form-{{tpos}}").on('submit', function () {
                event.preventDefault();
                formdata = new FormData();
                obj = {};
                obj = $(this).serializeArray();
                obj.push({
                    'name': 'action',
                    'value': 'subscribe'
                });
                console.log(obj);

                recaptchaData = $(this).find('[name="g-recaptcha-response"]').val();



                url = "main-control/wf-datacapturer.php?wid={{wid}}&pid={{pid}}&tpos={{tpos}}";


                if ($(this).valid() && recaptchaData) {
                    $.post(url, obj).done(function () {

                        alert('Form Submitted. Look out for alerts in the future.');
                        $('#ic-email-alert-form-{{tpos}}').find("input[type=text],input[type=tel],input[type=email],textarea").val("");
                        $('#ic-email-alert-form-{{tpos}}').find("input[type=checkbox]").prop('checked', false);
                    });
                } else {
                    alert('Please check the form to see if all details have filled correctly.');
                }
            });
            $("#ic-unsub-btn-{{tpos}}").on('click', function () {
                event.preventDefault();
                                
                let obj = $('#ic-email-alert-unsub-form-{{tpos}}').serializeArray();
                obj.push({
                    'name': 'action',
                    'value': 'unsubscribe'
                });
                console.log(obj);             

                url = "main-control/wf-datacapturer.php?wid={{wid}}&pid={{pid}}&tpos={{tpos}}";


                if ($('#ic-email-alert-unsub-form-{{tpos}}').valid() ) {
                    $.post(url, obj).done(function () {

                        alert('You have been unsubscribed from Biocon Alerts.');
                        console.log($('#ic-unsubscribe-modal-{{tpos}}'));
                       
                    });
                } else {
                    alert('Please check the form to see if all details have filled correctly.');
                }
            });



        });
    })(jQuery);

</script>