<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js" type="application/javascript" defer></script>
<div id="xxfrm">
    <div class="container">
        <div class="row">

            <form id="sendform" name="sendform" method="POST" enctype="multipart/form-data" action="{{actionUrl|raw}}"
                  style="display: contents;">
                <div class="col-md-4 col-lg-4" style="border:1px dotted;" v-for="(item,index) in fieldsets">
                    <div class="form-group">
                        <label for="ballot_title">Title</label>
                        <input required type="text" v-model="item.title" :name="'title'+ismany(index)" class="form-control"
                               :id="'ballot_title_'+index"
                               aria-describedby="emailHelp" placeholder="Enter Ballot Title">
                    </div>
                    <div class="form-group">
                        <label for="Ballot_date">Ballot Date</label>
                        <input required type="date" v-model="item.date" :name="'date'+ismany(index)" class="form-control"
                               :id="'Ballot_date_'+index"
                               aria-describedby="emailHelp" placeholder="Enter Ballot Date">
                    </div>
                    <div class="form-group">
                        <label for="ballot_pdf">Ballot PDF</label>
                        <input required type="file" :name="'file'+ismany(index)" ref="file" class="form-control"
                               :id="'ballot_pdf_'+index"
                               v-on:change="addFile($event,index)" aria-describedby="emailHelp"
                               placeholder="Select PDF FileTitle">
                    </div>
                    <small style="color:red;cursor: pointer;" class="form-text text-muted"
                           v-if="ismany()=='[]'" v-on:click="pop(index)">Delete
                    </small>
                </div>
                <input type="hidden" name="action" value="insert">


            </form>
            <div class="col-md-12 col-lg-12">
                <button v-if="fieldsets.length<6" v-on:click="addBallotEntry" id="add_more_field" style=""
                        class="btn btn-info">Add More Ballots
                </button>
                <button v-on:click="send" class="btn btn-info">Submit
                </button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 col-lg-12">

                <h4>Current Ballots</h4>


                <div class="mx-auto" style="width: 100%">

                    <!-- Table -->
                    <div class="input-group mb-3">

                        {%if import_btn%}
                        <button class="btn btn-primary" v-on:click="doImport()" type="submit">Import Default Data
                        </button>
                        {%endif%}
                    </div>


                </div>


                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Title</th>
                        <th scope="col">Attachment</th>
                        <th scope="col">Manage</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ballot in data%}
                    <tr>
                        <td>{{ballot.date}}</td>
                        <td>{{ballot.title}}</td>
                        <td>
                            <a target="_blank" href="{{attachment_url_path|raw}}/{{ballot.attachment}}">
                                <i class="fa fa-download"></i>
                            </a>
                        </td>
                        <td style="cursor:pointer;">
                            <a v-on:click="prepUpdate({{ballot.id}},'{{ballot.jsdate}}','{{ballot.title}}')">Update</a>
                            |
                            <a v-on:click="prepDelete({{ballot.id}})">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div id="updateModal" class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Update Entry</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="updateform" name="updateform" method="POST" enctype="multipart/form-data"
                                      action="{{actionUrl|raw}}">
                                    <div class="col-md-4 col-lg-4" style="border:1px dotted;">
                                        <input type="hidden" name="did" v-model="currentitem.id">

                                        <div class="form-group">
                                            <label for="ballot_title">Title</label>
                                            <input type="text" v-model="currentitem.title" :name="'title'"
                                                   class="form-control"

                                                   aria-describedby="emailHelp" placeholder="Enter Ballot Title">
                                        </div>
                                        <div class="form-group">
                                            <label for="ballot_date">Ballot Date</label>
                                            <input type="date" v-model="currentitem.date" :name="'date'"
                                                   class="form-control"

                                                   aria-describedby="emailHelp" placeholder="Enter Ballot Date">
                                        </div>
                                        <div class="form-group">
                                            <label for="ballot_pdf">Ballot PDF</label>
                                            <input type="file" :name="'file'" ref="file" class="form-control"
                                                   aria-describedby="emailHelp"
                                                   placeholder="Select PDF FileTitle">
                                        </div>

                                    </div>
                                    <input type="hidden" name="action" value="update">

                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" v-on:click="doUpdate()" class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="deletemodal" class="modal" tabindex="-1" role="dialog"
                     aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                Delete Ballot Entry?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="button" v-on:click="doDelete()" class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
<script defer>


    Vue.config.delimiters = ['${', '}'];
    var form = new Vue({
        el: '#xxfrm',
        delimiters: ['${', '}'],
        data: {
            fieldsets: [],
            counter: 0,
            formDestination: "{{actionUrl|raw}}&isAjax=true",
            current_quart: 1,
            current_year: new Date().getFullYear(),
            currentitem: {},
            deletedisc: '',
            attach_path:"{{attachment_url_path|raw}}"
        },
        created: function () {

            this.addBallotEntry();

        },
        methods: {

            addBallotEntry: function () {
                this.fieldsets.push({ date: '', title: '', file: '' });

            },
            addFile: function (event, key) {
                this.fieldsets[key].file = event.target.files[0];
                console.log(this.fieldsets[key].file);

            },
            pop: function (key) {
                this.fieldsets.splice(key, 1);
            },
            send: function () {
                var formdata = '';
                var options = {
                    headers: {'Content-Type': 'multipart/mixed'},
                };
                jQuery('#sendform').validate();

                if(jQuery('#sendform').valid()){
                    for (form in jQuery("form")) {
                        if (jQuery("form")[form].id == "sendform") {
                            formdata = new FormData(jQuery("form")[form]);
                            break;

                        }
                    }
                    axios.post(this.formDestination, formdata, options)
                            .then(function (response) {
                                alert('Entries Sent!');
                                location.reload();
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                }




            },
            ismany: function (index='') {
                if (this.fieldsets.length > 1) {
                    return "[" + index + "]";
                }
                return '';

            },
            setquart: function (quart) {
                this.current_quart = quart;
            },
            prepUpdate: function (id, date, title) {
                this.currentitem = {id: id, date: date, title: title};
                $('#updateModal').modal('show');

            },
            prepDelete: function (id) {
                this.deletedisc = id;
                $('#deletemodal').modal('show');
            },
            doUpdate: function () {

                var formdata = '';
                var options = {
                    headers: {'Content-Type': 'multipart/mixed'},
                };
                for (form in jQuery("form")) {
                    if (jQuery("form")[form].id == "updateform") {
                        console.log('updateform found!');
                        formdata = new FormData(jQuery("form")[form]);
                        break;

                    }
                }

                axios.post(this.formDestination, formdata, options)
                        .then(function (response) {
                            location.reload();
                        })
                        .catch(function (error) {
                            console.log(error);
                        });


            },
            doDelete: function () {
                var options = {
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                };
                data = {did: this.deletedisc, action: 'delete'};
                formdata = new FormData();
                for (x in data) {
                    formdata.append(x, data[x]);
                }


                axios.post(this.formDestination, formdata, options)
                        .then(function (response) {
                            location.reload();
                        })
                        .catch(function (error) {
                            console.log(error);
                        });

            },
            doImport:function(){

                var options = {
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                };
                data = {action: 'getdummy'};
                formdata = new FormData();
                for (x in data) {
                    formdata.append(x, data[x]);
                }


                axios.post(this.formDestination, formdata, options)
                        .then(function (response) {
                            alert('Imported!');
                            location.reload();
                        })
                        .catch(function (error) {
                            console.log(error);
                        });

            }
        }
    });
</script>