
<section class="pt-3 pt-md-3 mt-3 mt-md-3 mt-lg-5 heading-with-content ballot_content">
    <div class="container-fluid pl-md-5 pr-md-5">
        <h2 class="text-center color-navy-blue">Postal Ballot</h2>
        <div class="col-12 col-md-8 offset-md-2">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                {%for month in data|keys %}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading{{month|replace({' ': ''})}}">
                        <h4 class="panel-title">
                            <a role="button" class="navy-blue white-text collapse-expand-link {%if loop.first==false%}collapsed{%endif%}" data-toggle="collapse"
                               data-parent="#accordion" href="#collapse{{month|replace({' ': ''})}}"
                               aria-controls="collapse{{month|replace({' ': ''})}}">
                                <i class="more-less fa mycollapsefabtn  white-text" aria-hidden="true"></i>
                                {{month}}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse{{month|replace({' ': ''})}}" class="panel-collapse collapse {%if loop.first%}show{%endif%}" role="tabpanel"
                         aria-labelledby="heading{{month|replace({' ': ''})}}">
                        <div class="panel-body">
                            <table class="table table-bordered">

                                <tbody>

                                {%for ballot in data[month]%}
                                <tr>
                                    <td>
                                        <span>{{ballot.title}}</span>
                                        <a href="{{attach_path}}{{ballot.attachment}}" target="_blank">
                                            <img src="images/icons/pdf-blue.png" class="img-fluid float-right" width="25">
                                        </a>

                                    </td>
                                </tr>
                                {%endfor%}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {%endfor%}




            </div>
            <!-- panel-group -->

        </div>
        <div class="clearfix"></div>

    </div>
</section>

<script type="text/javascript" >

    (function($){

        $( document ).ready(function() {

            function toggleIcon(e) {
                console.log('code reached:'+ e.target);
                $(e.target)
                        .prev('.panel-heading')
                        .find(".more-less")
                        .toggleClass('fa-plus-square-o fa-minus-square-o');
            }
            var pg =$('.panel-group');
            pg.on('hidden.bs.collapse', toggleIcon);
            pg.on('shown.bs.collapse', toggleIcon);
            $('body').on('shown.bs.collapse', function(e){
                console.log('code Triggered on:'+ e.target);
            });
        });




    })(jQuery)

</script>