<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js" type="application/javascript" defer></script>
<div id="xxfrm" class="col-12">
    <div class="container">
        <div class="row">
            <ul style="cursor: pointer" class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" v-on:click="setTab('add')" :class="{'active':currentTab=='add'}">Add</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" v-on:click="setTab('edit')" :class="{'active':currentTab=='edit'}">Edit</a>
                </li>
            </ul>
        </div>
        <div id="addReportsTab" v-if="currentTab=='add'" class="row">
            <form id="sendform" name="sendform" method="POST" enctype="multipart/form-data"
                  action="{{ actionUrl|raw }}"
                  style="display: contents;">
                <div class="col-md-12 col-lg-12">
                    <div class="form-group">
                        <label for="cons_ann_rep_title">Consolidated Report Title</label>
                        <input  required type="text" name="cons_ann_rep_title" class="form-control"
                               id="cons_ann_rep_title"
                               placeholder="Enter Consolidated Report Title">
                    </div>
                    <div class="form-group">
                        <label for="rep_yr">Consolidated Report Date</label>
                        <input required type="number"
                               v-model="current_year"
                               name="rep_yr"
                               class="form-control"
                               id="rep_yr"
                               placeholder="Enter Report Date">
                    </div>
                    <div class="form-group">
                        <label for="cons_ann_rep_pdf">Consolidated Report PDF</label>
                        <input required type="file" accept=".pdf" name="cons_ann_rep_pdf" ref="file" class="form-control"
                               id="cons_ann_rep_pdf"
                               placeholder="Select PDF FileTitle">
                    </div>
                    <div class="form-group">
                        <label for="cons_ann_rep_thumb">Consolidated Report Thumbnail</label>
                        <input required type="file" accept="image/*" name="cons_ann_rep_thumb" ref="file"
                               class="form-control"
                               id="cons_ann_rep_thumb"
                               placeholder="Select Report FileTitle">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3" style="border:1px dotted;" v-for="(item,index) in fieldsets">
                    <div class="form-group">
                        <label for="suppl_rep_title">Supplementary Report Title</label>
                        <input required type="text" v-model="item.title" :name="'suppl_rep_title'+ismany(index)"
                               class="form-control"
                               id="suppl_rep_title"
                                placeholder="Enter Report Title">
                    </div>
                    <div class="form-group">
                        <label for="suppl_rep_file">Supplementary Report PDF</label>
                        <input required type="file" accept=".pdf" :name="'suppl_rep_file'+ismany(index)" ref="file"
                               class="form-control"
                               id="suppl_rep_file"
                               v-on:change="addFile($event,index)" 
                               placeholder="Select PDF FileTitle">
                    </div>
                    <small style="color:red;cursor: pointer;" class="form-text text-muted"
                           v-if="ismany()=='[]'" v-on:click="pop(index)">Delete
                    </small>
                </div>
                <input type="hidden" name="action" value="insert">
            </form>
            <div class="col-md-12 col-lg-12">
                <button v-if="fieldsets.length<20"
                        v-on:click="addReportEntry"
                        id="add_more_field"
                        style=""
                        class="btn btn-info">
                    Add More Supplementary Reports
                </button>
                <button
                        v-on:click="send"
                        class="btn btn-info">
                    Submit
                </button>
            </div>
        </div>
        <div id="editReportsTab" v-if="currentTab=='edit'" class="row">
            <div class="col-md-12 col-lg-12">
                <h4>Current Reports</h4>


                <div class="mx-auto" style="width: 100%">
                    <div class="input-group mb-3">
                        {% if import_btn %}
                            <button class="btn btn-primary" v-on:click="doImport()" type="submit">Import Default
                                Data
                            </button>
                        {% endif %}
                    </div>
                </div>
                <table class="table">
                    <thead>

                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Title</th>
                        <th scope="col">Manage</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for report in data %}
                        <tr>
                            <td>{{ report.f_year }}</td>
                            <td>{{ report.title }}</td>
                            <td style="cursor:pointer;">
                                <a v-on:click="fetch({{ report.f_year }})">Update</a>
                                |
                                <a v-on:click="prepDelete({{ report.id }})">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div id="deletemodal" class="modal" tabindex="-1" role="dialog"
                     aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                Delete Report Entry?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="button" v-on:click="doDelete()" class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="modals_block">
            <div id="editModal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit ${display.year} Reports</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="z_form">
                                <form id="editform"
                                      name="editform"
                                      method="POST"
                                      enctype="multipart/form-data"
                                      action="{{ actionUrl|raw }}"
                                      style="display: contents;">
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="cons_ann_rep_title">Consolidated Report Title</label>
                                            <input type="hidden" name="did" :value="display.id">
                                            <input  required type="text"
                                                    v-model="display.title"
                                                    name="cons_ann_rep_title"
                                                    class="form-control"
                                                    id="cons_ann_rep_title"
                                                    placeholder="Enter Consolidated Report Title">
                                        </div>
                                        <div class="form-group">
                                            <label for="rep_yr">Consolidated Report Date</label>
                                            <input required type="number"
                                                   v-model="display.year"
                                                   name="rep_yr"
                                                   class="form-control"
                                                   id="rep_yr"
                                                   placeholder="Enter Report Date">
                                        </div>
                                        <div class="form-group">
                                            <label for="cons_ann_rep_pdf">Consolidated Report PDF</label>
                                            <input class="form-control"
                                                   type="hidden"
                                                   name="cons_ann_rep_pdf_existing"
                                                   v-model="display.main_rep_pdf">
                                            <input required type="file" accept=".pdf"
                                                   name="cons_ann_rep_pdf" ref="file" class="form-control"
                                                   id="cons_ann_rep_pdf"
                                                   placeholder="Select PDF FileTitle">
                                        </div>
                                        <div class="form-group">
                                            <label for="cons_ann_rep_thumb">Consolidated Report Thumbnail</label>
                                            <input class="form-control"
                                                   type="hidden"
                                                   name="cons_ann_rep_thumb_existing"
                                                   v-model="display.thumbnail">
                                            <input required type="file" accept="image/*" name="cons_ann_rep_thumb" ref="file"
                                                   class="form-control"
                                                   id="cons_ann_rep_thumb"
                                                   placeholder="Select Report FileTitle">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 col-lg-3" style="border:1px dotted;" v-for="(item,index) in display.sup_reports">
                                            <div class="form-group">
                                                <label for="suppl_rep_title">Supplementary Report Title</label>
                                                <input required type="text" v-model="item.title"
                                                       :name="'suppl_rep_title'+ismanyedit(index)"
                                                       class="form-control"
                                                       id="suppl_rep_title"
                                                       placeholder="Enter Report Title">
                                            </div>
                                            <div class="form-group">
                                                <label for="suppl_rep_file">Supplementary Report PDF</label>
                                                <input class="form-control"
                                                       type="hidden"
                                                       :name="'suppl_rep_file_existing'+ismanyedit(index)"
                                                       v-model="item.pdf">
                                                <input required type="file" accept=".pdf"
                                                       :name="'suppl_rep_file'+ismanyedit(index)"
                                                       ref="file"
                                                       class="form-control"
                                                       id="suppl_rep_file"
                                                       v-on:change="addFile($event,index)"
                                                       placeholder="Select PDF FileTitle">
                                            </div>
                                            <small style="color:red;cursor: pointer;" class="form-text text-muted"
                                                   v-if="ismanyedit()=='[]'" v-on:click="poponedit(index)">Delete
                                            </small>
                                        </div>
                                    </div>

                                    <input type="hidden" name="action" value="edit">
                                </form>
                                <div class="col-md-12 col-lg-12">
                                    <button v-if="fieldsets.length<20"
                                            v-on:click="addReportEntryToEdit"
                                            id="add_more_field"
                                            style=""
                                            class="btn btn-info">
                                        Add More Supplementary Reports
                                    </button>
                                </div>
                            </div>
                            <section class="mb-4">
                                <div class="container-fluid pl-md-5 pr-md-5">
                                    <div class="off-white p-4">
                                        <div class="row">
                                            <div class="col-12 col-md-6 text-right">
                                                <img :src="attach_path+display.thumbnail" class="img-fluid">
                                            </div>
                                            <div class="col-12 col-md-6 color-navy-blue v-m-height-200">
                                                <h3 class="">${display.title}</h3>

                                                <p>Consolidated Annual Report ${display.year}</p>
                                                <ul style="list-style: none; " class="activites-link">
                                                    <li>
                                                        <a target="_blank" :href="attach_path+display.main_rep_pdf">
                                                            <img src="../images/download-blue.png" class="img-fluid">
                                                            Download
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!--Loops for supplement report-->
                            <div class="row">
                                <div v-for="rep in sup_reports()" class="col-md-4 mb-4">
                                    <div class="off-white p-4">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <a target="_blank"
                                                   :href="attach_path+'/'+rep.pdf">
                                                    <img src="../images/pdf-annual.png" class="img-fluid">
                                                </a>
                                            </div>

                                            <div class="col-md-8 p-0">
                                                <h6 class="mt-2">${rep.title}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end Loops for supplement report-->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button v-on:click="edit()" type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script defer>


    Vue.config.delimiters = ['${', '}'];
    var form = new Vue({
                el: '#xxfrm',
                delimiters: ['${', '}'],
                data: {
                    fieldsets: [],
                    counter: 0,
                    formDestination: false?"http://localhost/echotest/index.php":"{{actionUrl|raw}}&isAjax=true",
                    current_year: new Date().getFullYear(),
                    currentitem: {},
                    currentTab:'add',
                    deletedisc:'',
                    display:false,
                    attach_path:'{{attach_path|raw}}'

                },
                created: function () {

                    this.addReportEntry();

                },
                methods: {
                    setTab: function (str) {
                        this.currentTab=str;
                    },
                    addReportEntry: function () {
                        this.fieldsets.push({ title: '', file: '' });

                    },
                    addReportEntryToEdit: function () {
                        this.display.sup_reports.push({ title: '', file: '' });

                    },
                    addFile: function (event, key) {
                        this.fieldsets[key].file = event.target.files[0];
                        console.log(this.fieldsets[key].file);

                    },
                    pop: function (key) {
                        this.fieldsets.splice(key, 1);
                    },
                    poponedit: function (key) {
                        this.display.sup_reports.splice(key, 1);
                    },
                    send: function () {
                        var formdata = '';
                        var options = {
                            headers: {'Content-Type': 'multipart/mixed'},
                        };
                        if(jQuery("#sendform").valid())
                        for (form in jQuery("form")) {
                            if (jQuery("form")[form].id == "sendform") {
                                formdata = new FormData(jQuery("form")[form]);
                                break;

                            }
                        }


                        axios.post(this.formDestination, formdata, options)
                                .then(function (response) {
                                    alert('Sent!');
                                    location.reload();
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });


                    },
                    edit: function () {
                        var formdata = '';
                        var options = {
                            headers: {'Content-Type': 'multipart/mixed'},
                        };
                        if(true)
                            for (form in jQuery("form")) {
                                if (jQuery("form")[form].id == "editform") {
                                    formdata = new FormData(jQuery("form")[form]);
                                    break;

                                }
                            }


                        axios.post(this.formDestination, formdata, options)
                                .then(function (response) {
                                    alert('Sent!');
                                    location.reload();
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });


                    },
                    ismany: function (index='') {
                        if (this.fieldsets.length > 1) {
                            return "[" + index + "]";
                        }
                        return '';

                    },
                    ismanyedit: function (index='') {
                        if (this.display.sup_reports.length > 1) {
                            return "[" + index + "]";
                        }
                        return '';

                    },
                   sup_reports:function(){
                        if(this.display.sup_reports!=undefined)
                        {
                            return this.display.sup_reports;

                        }
                       return false;

                    },


                    prepDelete: function (id) {
                        this.deletedisc=id;
                        $('#deletemodal').modal('show');
                    },
                    fetch:function(yr){
                        var formdata = new FormData();
                        formdata.append('action','fetch');
                        formdata.append('year',yr);
                        var vu=this;
                        axios.post(this.formDestination, formdata)
                                .then(function (response) {
                                    jQuery('#editModal').modal('show');
                                    vu.display=response.data.info[0];
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });

                    },
                    doDelete: function () {
                        var options = {
                            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                        };
                        data={did:this.deletedisc,action:'delete'};
                        formdata=new FormData();
                        for(x in data){
                            formdata.append(x,data[x]);
                        }


                        axios.post(this.formDestination, formdata,options)
                                .then(function (response) {
                                    location.reload();
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });

                    },
                    doImport(){
                            var options = {
                                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                            };
                            data={action:'getdummy'};
                            formdata=new FormData();
                            for(x in data){
                                formdata.append(x,data[x]);
                            }


                            axios.post(this.formDestination, formdata,options)
                                    .then(function (response) {
                                        alert('Imported');
                                        location.reload();
                                    })
                                    .catch(function (error) {
                                        console.log(error);
                                    });

                    }


                }


            })
            ;
</script>