<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="https://rawgit.com/vuejs/vue/dev/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

<span id="annual_reports-{{tpos}}">
<section class="pt-3 pt-md-3 mt-3 mt-md-3 mt-lg-5 heading-with-content">
    <div class="container-fluid pl-md-5 pr-md-5">
        <h2 class="text-center color-navy-blue">Annual Reports</h2>

        <form class="mt-2 mb-2 ">

            <select :change="setURLParams()" v-model="current_year" id="annual-report-year" class="color-navy-blue custom-select1 border-navy-blue">
                {%for year in fyears%}<option value="{{year.year}}">FY {{year.year}}</option>{%endfor%}

            </select>

        </form>
    </div>
</section>
{%for annual_rep in data%}
<section v-if="current_year=={{annual_rep.year}}" class="mb-4">
    <div class="container-fluid pl-md-5 pr-md-5">
        <div class="off-white p-4">
            <div class="row">
                <div class="col-12 col-md-6 text-right">
                    <img src="{{attach_path}}/{{annual_rep.thumbnail}}" class="img-fluid">
                </div>
                <div class="col-12 col-md-6 color-navy-blue v-m-height-200">
                    <h3 class="">{{annual_rep.title}}</h3>

                    <p>Consolidated Annual Report {{annual_rep.year}}</p>
                    <ul class="activites-link">
                        <li><a href="#"><img src="images/email-blue.png"> Email</a></li>
                        <li><a target="_blank" href="{{attach_path}}/{{annual_rep.main_rep_pdf}}"><img src="images/download-blue.png" class="img-fluid"> Download
                        </a></li>
                        <li><a href="#"><img src="images/share-blue.png" class="img-fluid"> Share</a></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</section>
<section v-if="current_year=={{annual_rep.year}}" class="mb-4">
    <div class="container-fluid pl-md-5 pr-md-5">
        <div class="row">
            {%for rep in annual_rep.sup_reports%}
            <div class="col-12 col-md-4 mb-4">
                <div class="off-white p-4">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <img src="images/pdf-annual.png" class="img-fluid">
                        </div>

                        <div class="col-12 col-md-8 p-0">
                            <h6 class="mt-2">{{rep.title}}</h6>
                            <ul class="activites-link">
                                <li><a href="#"><img src="images/email-blue.png"> Email</a></li>
                                <li>
                                    <a target="_blank" href="{{attach_path}}{{rep.pdf}}"><img src="images/download-blue.png" class="img-fluid"> Download</a>
                                </li>
                                <li><a href="#"><img src="images/share-blue.png" class="img-fluid"> Share</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>

</section>
{%endfor%}



</span>


<script>
if(allRouter==undefined){
    var allRouter=new VueRouter();
}
    var reload_count=0;
    var annual_reports_{{tpos}} = new Vue({
        el: "#annual_reports-{{tpos}}",
        delimiters: ['${', '}'],
        
        data: {
            current_year: new Date().getFullYear(),
        },
        router:allRouter,
        created:function(){
           
            //this.current_year=this.$route.query.year==undefined?this.current_year:this.$route.query.year;           

            this.readURLParams();

        },
        methods: {
            pushtouri:function (){
                
                allRouter.push({
                    query:{year:this.current_year}
                    });
            },
            readURLParams: function () {                
                var url  = new URL(document.location);
                var path = url.pathname.split('&'); 
                console.log(path);
                if(path.length>1){
                    for(x in path){
                        if(path[x].match(/^\d{4}/)!=null){
                            
                            var par_yr=path[x].split('%20-%20');
                            console.log('Ann_YR:'+par_yr[0]);
                            this.current_year=+par_yr[0] ;
                            
                        }                       
                    }

                }

            },
            setURLParams: function () {
                
                var data = [this.current_year];
                var url  = new URL(document.location);
                var path = url.pathname.split('&');                 
                
                if(path.length<2){
                    window.history.pushState({}, "", url.pathname+'&' + data.join('&'));
                }else{                    
                    window.history.pushState({}, "", path[0]+'&' + data.join('&'));
                }
                if(reload_count>0){
                    console.log(reload_count);
                    reload_count=0;
                    this.$destroy();
                    location.reload(true);  
                }else{
                   reload_count++;  
                }                               

            }

        }
    });
</script>
