@import url('https://fonts.googleapis.com/css?family=Roboto');
.ckrobo{
  font-family: 'Roboto', sans-serif;
}

@font-face {  

   font-family: "Roboto-Regular";  

   src: local("Roboto-Regular"), url("/ckeditor/Customfonts/Roboto-Regular.ttf") format("truetype"); /*non-IE*/  

}