<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="https://rawgit.com/vuejs/vue/dev/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

<span id="dividend-history-{{tpos}}">
<section class="pt-3 pt-md-3 mt-3 mt-md-3 mt-lg-5 heading-with-content">
            <div class="container-fluid pl-md-5 pr-md-5">
            	<div class="col-12 col-md-8 offset-md-2">
                    <table class="table table-bordered">
                        <thead class="navy-blue white-text fnt-bold">
                          <tr>
                            <th width="50%">Year wise unclaimed dividend list</th>
                            <th width="50%">Pdf document</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for divrec in data %}
                          <tr>
                            <td>{{ divrec.title }}</td>
                            <td><a href="{{ attach_path }}{{ divrec.attachment }}" target="_blank"> <img src="images/icons/pdf-blue.png" class="img-fluid" width="25"></a></td>
                          </tr>
                        {% endfor %}

                        </tbody>
                      </table>
                  </div>
                  
                  
			</div>
		</section>
</span>
