
<style>
    .widget_form {

        width: 100%;
        display: contents;

    }
</style>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card-box">
                <h4 class="header-title m-t-0 m-b-30">Widget Details</h4>
                <section>
                    <p class="text-muted m-b-20 font-13 pull-right">
                        (* All fields are mandatory)
                    </p>

                    <!-- start our value drivers div  -->
                    <h5 class="heading_cust">{{name}}</h5>

                    <hr>
                    {% if messages %}
                    <div id="messages">
                        {% for message in messages %}
                        {{ message |raw }}
                        {% endfor %}
                    </div>
                    {% endif %}

                        <div class="col-xs-12 col-lg-12 col-xl-12">
                            <div class="row">
                                {{form | raw}}
                            </div>
                        </div>
                        <!-- end col-->

                    <!-- end our value drivers div  -->
                </section>

                    {% for output in outputs %}
                    <section>{{ output |raw }}</section>
                    {% endfor %}

            </div>
        </div>

    </div>

