<table id="viewtable" class="table">
    <thead>
            <tr>
                    <td>
                        <nav style="cursor: pointer" aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a v-on:click="prev_pg()" class="page-link"
                                        :disabled="index==0">Previous</a></li>
                                <li v-for=" n in max_pages+1" :key="n" :class="{active:n-1==index}" class="page-item"><a
                                        class="page-link" v-on:click="setIndex(n-1)">${n}</a></li>
                                <li class="page-item"><a v-on:click="nxt_pg()" class="page-link"
                                        :disabled="index==max_pages">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </td>
                </tr>
        <tr>
            <th scope="col">DATE</th>
            <th scope="col">NAME</th>
            <th scope="col">EMAIL</th>
            <th scope="col">LISTS/ALERT TYPE</th>

        </tr>
    </thead>
    <tbody>        
        <tr v-for="row in buffer[index]">
            <th scope="row">${row.added_date|datedmy}</th>
            <td>${row.name}</td>
            <td>${row.email}</td>
            <td>${row.alert_types}</td>
            {%if import_btn!=true%}
            <td>${row.page_name}</td>
            {%endif%}
        </tr>
    </tbody>
</table>
<script>
    Vue.config.delimiters = ['${', '}'];
    var viewtable = new Vue({
        el: "#viewtable",
        delimiters: ['${', '}'],
        data: {
            formDestination: '{{endpoint|raw}}' + '&isAjax=true',
            //mailerlist params
            index: 0,
            buffer: [],
            max_pages: {{ max_pages }},

        },
        created: function () {
            this.buffer[0] = {{ data | json_encode | raw }};
            this.debounced_fetch = _.debounce(this.fetch_data, 500);
        },
        watch:{
            index: function(newIndex, oldIndex) {
                this.fetch_data();
            }
        },
        filters: {
            datedmy: function(value) {
                d = new Date(value);
                return d.getDate() + '/' + d.getMonth() + '/' + d.getFullYear();
            }
        },
        methods: {

        //subscriber list functions
        nxt_pg: function() {
            if (this.index < this.max_pages) {
                this.index++;

            }

        },
        prev_pg: function() {
            if (this.index > 0) {
                this.index--;

            }
        },
        fetch_data: function() {
            if (this.buffer[this.index] == undefined) {

                axios.post(this.formDestination, {
                    action: 'fetch_subscriber_pg',
                    data: this.index
                }).then((response) => {
                    
                    this.buffer[this.index] = response['data']['data'];
                    this.$forceUpdate();
                }).catch((error)=> {
                        console.log(error);
                    });
            }
        },
        setIndex: function(n) {
            this.index = n;

        },

    }
    });
</script>