<section class="position-relative">
    <div class="container-fluid pl-md-5 pr-md-5">
        <div class="email-alert p-4 pl-md-5 pr-md-5 white-text" style="background: url('http://104.210.13.228/biocon/images/email-alert.jpg')">
            <h4 class="mb-4 text-center text-uppercase">email alert</h4>

            <div class="border p-2 p-md-4">
                <h5 class="position-absolute alert-type pl-2 pr-3 ml-2 text-center">Alert Type</h5>

                <div class="position-relative pt-4">
                    <form id="email-alert-form-{{tpos}}" class="col-12">
                        <div class="row">
                            <div class="col-sm checkbox mb-4">
                                <label class="custom-checkbox">Biocon Annual Report Alert
                                    <input name="alert_types[]" value="annual_report" type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-sm checkbox mb-4">
                                <label class="custom-checkbox">Biocon News Alert
                                    <input name="alert_types[]" value="news" type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-sm checkbox mb-4">
                                <label class="custom-checkbox"> Biocon Calender Alert
                                    <input name="alert_types[]" value="calendar" type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-sm checkbox mb-4">
                                <label class="custom-checkbox">Biocon Presentation Alert
                                    <input name="alert_types[]" value='presentation' type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm form-group">
                                <input name="email" type="email" class="form-control bg-none border border-white border-radius-0"
                                       id="email" placeholder="Email">
                            </div>
                            <div class="col-sm form-group">
                                <input name="name" type="text" class="form-control bg-none border border-white border-radius-0"
                                       id="name" placeholder="Name">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4 form-group"><div class="g-recaptcha" data-sitekey="{{recaptchaSKey}}"></div>
                                <a data-focus="true" data-toggle="modal" data-target="#ea-unsubscribe-modal-{{tpos}}" class="white-text"><u>Unsubscribe from Investor Relations email alerts.</u></a>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-12 text-right">
                                <button type="submit"
                                        class="btn btn-default border border-white white-text border-radius-0">Subscribe
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="ea-unsubscribe-modal-{{tpos}}" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Unsubscribe from Biocon Alerts?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="ea-email-alert-unsub-form-{{tpos}}" class="col-12">
                            <div class="col-sm form-group  mt-2">
                                <input required type="email" name="email"
                                    class="form-control bg-none border border-radius-0" id="email"
                                    placeholder="Enter your email.">
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="ea-unsub-btn-{{tpos}}"  class="btn btn-primary">Unsubscribe</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

</section>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js" type="application/javascript" ></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script defer>

    (function ($) {
        $(document).ready(function () {
            $("#email-alert-form-{{tpos}}").on('submit',function () {
                event.preventDefault();
                formdata = new FormData();
                obj = {};
                obj = $(this).serializeArray();
                recaptchaData=$(this).find('[name="g-recaptcha-response"]').val();


                url = "main-control/wf-datacapturer.php?wid={{wid}}&pid={{pid}}&tpos={{tpos}}";


                if ($(this).valid()&&recaptchaData) {
                    $.post(url, obj).done(function () {
                        $('#email-alert-form-{{tpos}}').find("input[type=text],input[type=tel],input[type=email],textarea").val("");
                        $('#email-alert-form-{{tpos}}').find("input[type=checkbox]").prop('checked', false);
                        alert('Form Submitted. Look out for alerts in the future.');
                    });

                }else{
                    alert('Please check the form to see if all details have filled correctly.');
                }
            });
            $("#ea-unsub-btn-{{tpos}}").on('click', function () {
                event.preventDefault();
                                
                let obj = $('#ea-email-alert-unsub-form-{{tpos}}').serializeArray();
                obj.push({
                    'name': 'action',
                    'value': 'unsubscribe'
                });                        

                url = "main-control/wf-datacapturer.php?wid={{wid}}&pid={{pid}}&tpos={{tpos}}";

                if ($('#ea-email-alert-unsub-form-{{tpos}}').valid() ) {
                    $.post(url, obj).done(function () {

                        alert('You have been unsubscribed from Biocon Alerts.');
                        console.log($('#ic-unsubscribe-modal-{{tpos}}'));
                       
                    });
                } else {
                    alert('Please check the form to see if all details have filled correctly.');
                }
            });
        });
    })(jQuery);

</script>