<span id="feature-block-{{tpos}}">
<section class="pt-4  pt-md-4">
    <div class="container-fluid pl-md-5 pr-md-5">
        <h2 class="border_head blue-text"><span>{{block_title }}</span></h2>
        <p>{{block_description|raw}}
        </p>
    </div>
</section>
<section class="pt-4 pb-4 pt-md-3 sec_02 sheet">
    <div class="container-fluid pl-md-5 pr-md-5">
        <div class="row">
            {% for feature in featuredata %}
            <div class="col-12 col-md-6  col-lg-3  white-text mt-1 mt-md-4">
                <div style="background-color: {{ feature.color }}" class="box skyblue-bg min-hgt-300 d-flex1 flex-wrap align-content-center justify-content-center flex-column p-4 p-sm-0 text-center">
                    <img src="{{ feature.image }}" class="img-fluid">
                    <h4 class="pt-4  fnt-light">{{ feature.title }}</h4>
                    {% if feature.link %}
                    <a href="{{ feature.link }}">
                        <img src="images/icons/right-arrow-white.png" class="img-fluid" width="20">
                    </a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
</span>


<script defer>

    (function ($) {
        $(document).ready(function () {
            $("#feature-block-{{tpos}}").on('submit', function () {
                event.preventDefault();
                formdata = new FormData();
                obj = {};
                obj = $(this).serializeArray();
                console.log(obj);


                url = "main-control/wf-datacapturer.php?wid={{wid}}&pid={{pid}}&tpos={{tpos}}";


                if ($(this).valid()) {
                    $.post(url, obj).done(function () {
                        alert('Form Submitted. Look out for alerts in the future.');
                    });

                }
            });
        });
    })(jQuery);

</script>