<style>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js" type="application/javascript" defer></script>
<div id="xxfrm">
<div class="container">
<transition name="fade">
<div v-if="isLoading" class="row">
    <div class="col-4"></div>
    <div class="col-4" style="text-align: center;">
        <figure style=" display: inline-block;">
            <img src='{{base_url}}images/loading.gif' alt='missing'/>
            <figcaption
                    style="  margin: 10px 0 0 0;font-variant: small-caps;font-family: Arial;font-weight: bold;text-transform: uppercase;">
                Loading
            </figcaption>
        </figure>
    </div>
    <div class="col-4"></div>
</div>
</transition>
<transition name="fade">
<div v-if="!isLoading" class="row">
    <div class="col-md-12 col-lg-12">
        <form id="sendform" name="sendform" method="POST" enctype="multipart/form-data"
              action="{{actionUrl|raw}}"
              style="display: contents;">
            <div class="row">
                <div class="col-md-4 col-lg-4" style="border:1px dotted;" v-for="(item,index) in fieldsets">
                    <div class="form-group">
                        <label :for="'disclosure_title'+index">Title</label>
                        <input required="required" type="text" v-model="item.title"
                               :name="'title'+ismany(index)"
                               class="form-control"
                               :id="'disclosure_title'+index"
                               aria-describedby="emailHelp" placeholder="Enter Disclosure Title">
                    </div>
                    <div class="form-group">
                        <label :for="'disclosure_date'+index">Disclosure Date</label>
                        <input required="required" type="date" v-model="item.date" :name="'date'+ismany(index)"
                               class="form-control"
                               :id="'disclosure_date'+index"
                               aria-describedby="emailHelp" placeholder="Enter Disclosure Date">
                    </div>
                    <div class="form-group">
                        <label :for="'disclosure_pdf'+index">Disclosure PDF</label>
                        <input required="required" type="file" :name="'file'+ismany(index)" ref="file"
                               class="form-control"
                               :id="'disclosure_pdf'+index"
                               v-on:change="addFile($event,index)" aria-describedby="emailHelp"
                               placeholder="Select PDF FileTitle">
                    </div>
                    <small style="color:red;cursor: pointer;" class="form-text text-muted"
                           v-if="ismany()=='[]'" v-on:click="pop(index)">Delete
                    </small>
                </div>
            </div>

            <input type="hidden" name="action" value="insert">


        </form>
    </div>


    <div class="col-md-12 col-lg-12">
        <button v-if="fieldsets.length<6" v-on:click="addDisclosureEntry" id="add_more_field" style=""
                class="btn btn-info">Add More Disclosures
        </button>
        <button v-on:click="send" class="btn btn-info">Submit
        </button>
    </div>
</div>
</transition>
<hr>
<transition name="fade">
<div v-if="!isLoading" class="row">
    <div class="col-md-12 col-lg-12">

        <h4>Current Disclosures</h4>


        <div class="mx-auto" style="width: 100%">

            <!-- Table -->
            <div class="input-group mb-3">
                <select id="annual-report-year" class="custom-select"
                        v-model="current_year">
                    {% for year in fyears%}
                    <option value="{{year}}">FY {{year}}-{{year+1}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="btn-group mr-2 " role="group" aria-label="First group">
                    <button type="button" v-bind:class="{active:current_quart==1}" v-on:click="setquart(1)"
                            class="btn btn-secondary">Quarter 1
                    </button>
                    <button type="button" v-bind:class="{active:current_quart==2}" v-on:click="setquart(2)"
                            class="btn btn-secondary">Quarter 2
                    </button>
                    <button type="button" v-bind:class="{active:current_quart==3}" v-on:click="setquart(3)"
                            class="btn btn-secondary">Quarter 3
                    </button>
                    <button type="button" v-bind:class="{active:current_quart==4}" v-on:click="setquart(4)"
                            class="btn btn-secondary">Quarter 4
                    </button>
                </div>
                {%if import_btn%}
                <button class="btn btn-primary" v-on:click="doImport()" type="submit">Import Default Data
                </button>
                {%endif%}
            </div>


        </div>


        <table class="table">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Title</th>
                <th scope="col">Attachment</th>
                <th scope="col">Manage</th>
            </tr>
            </thead>
            <tbody>
            {% for disclosure in data%}
            <tr v-if="current_year=={{disclosure.f_year}}&&current_quart=={{disclosure.quarter}}">
                <td>{{disclosure.date}}</td>
                <td>{{disclosure.title}}</td>
                <td>
                    <a target="_blank" href="{{attach_path}}/{{disclosure.attachment}}">
                        <i class="fa fa-download"></i>
                    </a>
                </td>
                <td style="cursor:pointer;">
                    <a v-on:click="prepUpdate({{disclosure.id}},'{{disclosure.jsdate}}','{{disclosure.title}}')">Update</a>
                    |
                    <a v-on:click="prepDelete({{disclosure.id}})">Delete</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div id="updateModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update Entry</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="updateform" name="updateform" method="POST" enctype="multipart/form-data"
                              action="{{actionUrl|raw}}">
                            <div class="col-md-12 col-lg-12" style="border:1px dotted;">
                                <input type="hidden" name="did" v-model="currentitem.id">

                                <div class="form-group">
                                    <label for="edit_disclosure_title">Title</label>
                                    <input id="edit_disclosure_title" type="text" v-model="currentitem.title" :name="'title'"
                                           class="form-control"

                                           aria-describedby="emailHelp" placeholder="Enter Disclosure Title">
                                </div>
                                <div class="form-group">
                                    <label for="edit_disclosure_date">Disclosure Date</label>
                                    <input id="edit_disclosure_date" type="date" v-model="currentitem.date" :name="'date'"
                                           class="form-control"

                                           aria-describedby="emailHelp" placeholder="Enter Disclosure Date">
                                </div>
                                <div class="form-group">
                                    <label for="edit_disclosure_pdf">Disclosure PDF</label>
                                    <input id="edit_disclosure_pdf" type="file" :name="'file'" ref="file" class="form-control"
                                           aria-describedby="emailHelp"
                                           placeholder="Select PDF FileTitle">
                                </div>

                            </div>
                            <input type="hidden" name="action" value="update">

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" v-on:click="doUpdate()" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="deletemodal" class="modal" tabindex="-1" role="dialog"
             aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        Delete Disclosure Entry?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" v-on:click="doDelete()" class="btn btn-danger">Delete</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
</transition>
</div>
</div>
<script defer>


    Vue.config.delimiters = ['${', '}'];
    var formsend = new Vue({
                el: '#xxfrm',
                delimiters: ['${', '}'],
                data: {
                    isLoading:false,
                    fieldsets: [],
                    counter: 0,
                    formDestination: "{{actionUrl|raw}}&isAjax=true",
                    current_quart: 1,
                    current_year: new Date().getFullYear(),
                    currentitem: {},
                    deletedisc:''
                },
                created: function () {

                    this.addDisclosureEntry();

                },
                methods: {

                    doLoading:function(){
                        this.isLoading=true;
                    },
                    stopLoading:function(){
                        this.isLoading=false;
                    },

                    addDisclosureEntry: function () {
                        this.fieldsets.push({ date: '', title: '', file: '' });

                    },
                    addFile: function (event, key) {
                        this.fieldsets[key].file = event.target.files[0];
                        console.log(this.fieldsets[key].file);

                    },
                    pop: function (key) {
                        this.fieldsets.splice(key, 1);
                    },
                    send: function () {
                        var formdata = '';
                        var options = {
                            headers: {'Content-Type': 'multipart/mixed'},
                        };

                        jQuery('#sendform').validate();
                        if (jQuery('#sendform').valid()) {
                            this.doLoading();
                            for (form in jQuery("form")) {
                                if (jQuery("form")[form].id == "sendform") {
                                    formdata = new FormData(jQuery("form")[form]);
                                    break;

                                }
                            }
                            axios.post(this.formDestination, formdata, options)
                                    .then(function (response) {
                                        formsend.stopLoading();
                                        location.reload();
                                    })
                                    .catch(function (error) {
                                        formsend.stopLoading();
                                        console.log(error);
                                    });


                        }
                        ;







                    },
                    ismany: function (index='') {
                        if (this.fieldsets.length > 1) {
                            return "[" + index + "]";
                        }
                        return '';

                    },
                    setquart: function (quart) {
                        this.current_quart = quart;
                    },
                    prepUpdate: function (id, date, title) {
                        this.currentitem = {id: id, date: date , title: title};
                        $('#updateModal').modal('show');

                    },
                    prepDelete: function (id) {
                        this.deletedisc=id;
                        $('#deletemodal').modal('show');
                    },
                    doUpdate: function () {

                        var formdata = '';
                        var options = {
                            headers: {'Content-Type': 'multipart/mixed'},
                        };
                        for (form in jQuery("form")) {
                            if (jQuery("form")[form].id == "updateform") {
                                console.log('updateform found!');
                                formdata = new FormData(jQuery("form")[form]);
                                break;

                            }
                        }

                        axios.post(this.formDestination, formdata, options)
                                .then(function (response) {
                                    location.reload();
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });


                    },
                    doDelete: function () {
                        var options = {
                            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                        };
                        data={did:this.deletedisc,action:'delete'};
                        formdata=new FormData();
                        for(x in data){
                            formdata.append(x,data[x]);
                        }


                        axios.post(this.formDestination, formdata,options)
                                .then(function (response) {
                                    location.reload();
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });

                    },
                    doImport(){
                            var options = {
                                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                            };
                            data={action:'getdummy'};
                            formdata=new FormData();
                            for(x in data){
                                formdata.append(x,data[x]);
                            }


                            axios.post(this.formDestination, formdata,options)
                                    .then(function (response) {
                                        location.reload();
                                    })
                                    .catch(function (error) {
                                        console.log(error);
                                    });

                    }


                }


            })
            ;
</script>