<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="https://rawgit.com/vuejs/vue/dev/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>


<span id="disclosure_table-{{tpos}}">


    <section class="pt-3 pt-md-3 mt-3 mt-md-3 mt-lg-5 heading-with-content">
        <div class="container-fluid pl-md-5 pr-md-5">
            <h2 class="text-center color-navy-blue">Stock Exchange Disclosures</h2>
            <form class="mt-2 mb-2 mt-md-4 mb-md-4 text-center">
                <select id="annual-report-year" class="color-navy-blue custom-select1 border-navy-blue" :select="setURLParams()" v-model="current_year">
                    {% for year in fyears%}
                        <option value="{{year}}">FY
                            {{year}}-{{year+1}}</option>
                    {% endfor %}
                </select>

            </form>
            <div class="row">
                <div class="col-12 col-sm-3 col-md-2 offset-md-2">
                    <a style="cursor:pointer;" v-on:click="setquart(1)">
                        <div v-bind:class="{'navy-blue':current_quart==1,'iris-blue':current_quart!=1,'text-white text-white p-4 text-center mb-4':true}">
                            <h2 class="font-50">Q1</h2>
                            <p>Apr-Jun</p>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-3 col-md-2 ">
                    <a style="cursor:pointer;" v-on:click="setquart(2)">
                        <div v-bind:class="{'navy-blue':current_quart==2,'iris-blue':current_quart!=2,'text-white text-white p-4 text-center mb-4':true}">
                            <h2 class="font-50">Q2</h2>
                            <p>Jul-Sept</p>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-3 col-md-2 ">
                    <a style="cursor:pointer;" style="cursor:pointer;" v-on:click="setquart(3)">
                        <div v-bind:class="{'navy-blue':current_quart==3,'iris-blue':current_quart!=3,'text-white text-white p-4 text-center mb-4':true}">
                            <h2 class="font-50">Q3</h2>
                            <p>Oct-Dec</p>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-3 col-md-2 ">
                    <a style="cursor:pointer;" v-on:click="setquart(4)">
                        <div v-bind:class="{'navy-blue':current_quart==4,'iris-blue':current_quart!=4,'text-white text-white p-4 text-center mb-4':true}">
                            <h2 class="font-50">Q4</h2>
                            <p>Dec-Feb</p>
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </section>

    <section class="pt-3 pt-md-3 mt-3 mt-md-3 mt-lg-5 heading-with-content">
        <div class="container-fluid pl-md-5 pr-md-5">
            <div class="col-12 col-md-8 offset-md-2">
                <table class="table mb-4">
                    <tbody>


                        {%set doneMonth=[]%}
                            {% for zmonth in altdata %}
                                {% for disclosure in zmonth %}
                                    {% if disclosure.month not in doneMonth %}
                                        <thead class="navy-blue white-text fnt-bold">
                                            <tr v-if="current_year=={{disclosure.f_year}}&&current_quart=={{disclosure.quarter}}">
                                                <th colspan="3">{{disclosure.month}}</th>
                                            </tr>
                                        </thead>
                                        {%set doneMonth = doneMonth| merge([disclosure.month])%}
                                    {% endif %}

                                    <tr v-if="current_year=={{disclosure.f_year}}&&current_quart=={{disclosure.quarter}}">
                                        <td>{{disclosure.date}}</td>
                                        <td>{{disclosure.title}}</td>
                                        <td>
                                            <a target="_blank" href="{{attach_path}}{{disclosure.attachment}}">
                                                <i class="fa fa-download"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}


                        {# By simple data
                        {% for disclosure in data%}
                            {%if disclosure.month not in doneMonth%}

                                <thead class="navy-blue white-text fnt-bold">
                                    <tr v-if="current_year=={{disclosure.f_year}}&&current_quart=={{disclosure.quarter}}">
                                        <th colspan="3">{{disclosure.month}}</th>
                                    </tr>
                                </thead>
                                {%set doneMonth = doneMonth| merge([disclosure.month])%}
                                {%endif%}
                                <tr v-if="current_year=={{disclosure.f_year}}&&current_quart=={{disclosure.quarter}}">
                                    <td>{{disclosure.date}}</td>
                                    <td>{{disclosure.title}}</td>
                                    <td>
                                        <a target="_blank" href="{{attach_path}}/{{disclosure.attachment}}">
                                            <i class="fa fa-download"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                         #}
                        </tbody>
                    </tbody>
                </table>


            </div>
        </div>
    </section>
</span>
<script>
    if (allRouter == undefined) {
        var allRouter = new VueRouter();
    }
    var reload_count=0;


    var disclosure_{{ tpos }} = new Vue({
        el: "#disclosure_table-{{tpos}}",
        delimiters: [
            '${', '}'
        ],

        data: {
            current_quart: 1,
            current_year: new Date().getFullYear(),
            
        },
        router: allRouter,
        created: function () { /*let searchParams = new URLSearchParams(window.location.search)
            if (searchParams.has('year')) {
                this.current_year=searchParams.get('year');

            }
            if (searchParams.has('q')) {
                this.current_quart=searchParams.get('q');
            }*/
            {# this.current_year = this.$route.query.year == undefined ? this.current_year : this.$route.query.year;
                this.current_quart = this.$route.query.q == undefined ? this.current_quart : this.$route.query.q;
                #} 
                {# this.pushtouri();#}
                
                this.readURLParams();

        },
        mounted:function(){
            console.log("Resetting count at mounted.");
                this.reload_count=0;

        },
        methods: {
            setquart: function (quart) {
                this.current_quart = quart;
                this.setURLParams();
            },
            pushtouri: function () {


                allRouter.push({
                    query: {
                        year: this.current_year,
                        q: this.current_quart
                    }
                });

            },
            readURLParams: function () {                
                var url  = new URL(document.location);
                var path = url.pathname.split('&'); 
                console.log(path);
                if(path.length>1){
                    for(x in path){
                        if(path[x].match(/^\d{4}/)!=null){
                            
                            var par_yr=path[x].split('%20-%20');
                            console.log('YR:'+par_yr[0]);
                            this.current_year=+par_yr[0] ;
                            
                        }
                        if(path[x].length==2&&path[x].match(/^Q[1-4]/)){
                            var par_quart=path[x].match(/[1-4]/);
                            console.log('Quarter:'+par_quart);
                            this.current_quart=+par_quart;
                        }
                    }

                }

            },
            setURLParams: function () {
                var yr_str=''+(+this.current_year+1);
                var data = [this.current_year + '%20-%20'+yr_str.substring(yr_str.length-2,yr_str.length),'Q'+this.current_quart];
                var url  = new URL(document.location);
                var path = url.pathname.split('&');                                
                
                
                if(path.length<2){
                    window.history.pushState({}, "", url.pathname+'&' + data.join('&'));
                }else{                    
                    window.history.pushState({}, "", path[0]+'&' + data.join('&'));
                }
                if(reload_count>0){
                    console.log(reload_count);
                    reload_count=0;
                    this.$destroy();
                    location.reload(true);  
                }else{
                   reload_count++;  
                }                
                
            }


        }
    });
</script>
