.errField{
        border: red 1px solid;
    }
	.padding-bottom-10{
		padding-bottom:10px;
	}
	.entry:not(:first-of-type)
		{
			margin-top: 10px;
		}
		#htmlout table, #htmlout td {
			background-color:#fdf7f5;
			padding:12px;
		}
		#htmlout tr:first-child,#htmlout tr:first-child td {
			color: #fff;
			background-color: #e24755 !important;
			border-color: #fff;
			border: 1px solid;
			vertical-align: middle;
		}

	.page {
		margin: 1em auto;
		max-width: 768px;
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		height: 100%;
		float:left;
	}

	.page .box {
		/*padding: 0.5em;*/
		width: 100%;
		margin:0.5em;
	}

	.page .box-2 {
		padding: 0.5em;
		width: calc(100%/2 - 1em);
	}

	.page .options label,
	.page .options input{
		width:4em;
		padding:0.5em 1em;
	}
	/*.page .btn{
		background:white;
		color:black;
		border:1px solid black;
		padding: 0.5em 1em;
		text-decoration:none;
		margin:0.8em 0.3em;
		display:inline-block;
		cursor:pointer;
	}*/

	.page .hide {
		display: none;
	}

	.page img {
		max-width: 100%;
	}
	.cropme img{
		max-width:600px;
		margin:0 auto;
	}
	.cropme {
		max-width:600px;
	}
	#fields .input-group {
		padding-left:0px;
	}

